
@import "../../typography/core/mixins.less";

.x-dropdownlist {
    background-color: @background-color;
    padding-left: @padding-x;
    padding-right: @padding-x;
    text-align: left;
    
    + .x-listbox {
        min-width: 80px;
    }

    .x-icon:last-child {
        float: right;
        line-height: @line-height;
        padding-left: 7px;
    }
}
