.x-dropdownlist {
  background-color: #ffffff;
  padding-left: 10px;
  padding-right: 10px;
    text-align: left;
}

    .x-dropdownlist + .x-listbox {
        min-width: 80px;
    }
   .x-dropdownlist  .x-icon:last-child {
        float: right;
        line-height: 24px;
        padding-left: 7px;
    }