.x-fileupload {
  overflow: hidden;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  cursor: default;
  position: relative;
}
/* 文件上传   */
.x-fileupload input {
  position: absolute;
  width: 84px;
  opacity: 0;
  filter: alpha(opacity=0);
  height: 100%;
  z-index: 2;
  top: 0;
  right: 0;
  cursor: default;
}
