.x-formfield {
  line-height: 28px;
  margin-bottom: 10px;
  *zoom: 1;
}
.x-formfield:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.x-formfield-label {
  width: 100px;
  display: block;
  text-align: right;
  margin-right: 10px;
  float: left;
}
.x-formfield-content {
  margin-left: 110px;
}
.x-form-vertical .x-formfield-label {
  float: none;
  width: auto;
  text-align: left;
  margin-right: 0;
}
.x-form-vertical .x-formfield-content {
  margin-left: 0;
}
