.x-select {
  padding: 4px;
  font-size: 14px;
  line-height: 18px;
  color: #555555;
  border: 1px solid #cccccc;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.x-select-warning {
  border-color: #c09853;
}
.x-select-error {
  border-color: #b94a48;
}
.x-select-success {
  border-color: #468847;
}
