.x-blockquote {
  padding-left: 14px;
  border-left: 5px solid #e0e0e0;
  text-align: right;
}
.x-blockquote p {
  margin-bottom: 0;
  font-family: Georgia, "Times New Roman", Times, Kai, "Kaiti SC", KaiTi, BiauKai, serif;
  text-align: left;
}
