

.addressbar {
    text-align:center;
}



td{
    padding: 10px;
}

.dpllist, .dplproperty {
    text-align: center;
    width: 468px;
    font-size: 18px;
}

.border-right {
    border-right: 1px solid #E5E5E5;
}

.content {
    vertical-align: top;
}

.button-label {
	background: #eeeeee;
	border-top: 1px solid #DDDDDD;	
	padding: 10px 40px;
    margin-top: 20px;
    margin-bottom: 10px;
    text-align: center;
}

.short {
    width: 100px;
    display: inline-block;
}

.large {
	width: 322px;	
}

.largest {
    width: 800px;	
}

.x-radiobutton {
    vertical-align: -3px;
}

.source {
	padding: 3px 10px;
    margin: 10px 0;
}

.refs {
	padding-left: 10px;
	border-left: 3px solid #ddd;
	margin: 10px 0 10px 15px;
}

.newDpl input.x-textbox {
    width: 266px;   
}

.demo-tip {
  padding: 4px 6px;
  margin: 4px 0;
  line-height: 18px;
  clear: both;
}

.demo-tip .demo-toolbar {
  display: none;
}
.demo-tip-hover {
  background: #eee;
}
.demo-tip-hover .demo-toolbar {
  display: block;
  line-height: 18px!important;
}