.x-mask,
.x-mask iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
}
.x-mask {
  z-index: 1040;
  background: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.x-mask iframe {
  z-index: -1;
  filter: mask();
}
