
@import "../core/mixins.less";

.x-tooltip {
    position: absolute;
    z-index: @z-index-tooltip;
    display: none;
    font-size: @small-font-size;
    line-height: 150%;
    background-color: @text-color;
    color: @selected-text-color;
    padding: 0 4px;
    border-radius: @border-radius / 2;
    max-width: @font-size * 15;
    border: 2px solid @text-color;
}
