
@import "../core/mixins.less";

.x-accordion {

    margin-bottom: @margin;

    .x-panel {
        margin-bottom: 0;
    }

    .x-panel + .x-panel {
        border-top: 0;
    }

    &.x-radius {

        .x-panel:first-child {
            border-radius: @border-radius @border-radius 0 0;
        }
        
        .x-panel:last-child, .x-panel-collapsed:last-child .x-panel-header {
            border-radius: 0 0 @border-radius @border-radius;
        }

    }

}

