

@import "../core/mixins.less";

.x-panel {
    background: @background-color;
    border: 1px solid @border-color;
    margin-bottom: @base-margin;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
    .x-header, .x-footer {
        background-color: #F7F7F7;
        line-height: 150%;
        padding: @base-box-padding;
    }

    .x-header {
        border-bottom: 1px solid @border-color;

        h1, h2, h3, h4, h5, h6 {
            margin: 0;
            font-weight: 700;
        }
    }

    .x-footer {
        border-top: 1px solid @border-color;
    }

    .x-body {
        padding: @base-box-padding-x;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        box-sizing: border-box;
    }

    // 色系
    &.x-info {
        border-color: @info-border-color;

        .x-header {
            background-color: @info-background-color;
            border-color: @info-border-color;
            color: @info-text-color;
        }
    }

    &.x-success {
        border-color: @success-border-color;

        .x-header {
            background-color: @success-background-color;
            border-color: @success-border-color;
            color: @success-text-color;
        }
    }

    &.x-warning {
        border-color: @warning-border-color;

        .x-header {
            background-color: @warning-background-color;
            border-color: @warning-border-color;
            color: @warning-text-color;
        }
    }

    &.x-error {
        border-color: @error-border-color;

        .x-header {
            background-color: @error-background-color;
            border-color: @error-border-color;
            color: @error-text-color;
        }
    }

    // 折叠效果
    &.x-collapsed {

        .x-header {
            border-bottom: 0;
        }

        .x-body {
            display: none;
        }
    }

    &.x-expanded, &.x-collapsed {
        .x-header {
            cursor: pointer;
        }

        .x-header:before {
            content: "\25be";
            font-family: 'IcoMoon';
            float: left;
            line-height: @base-line-height;
            margin-right: @base-box-padding-x;
            -moz-transition: -moz-transform .3s, height .3s, padding .3s;
            -o-transition: -o-transform .3s, height .3s, padding .3s;
            -webkit-transition: -webkit-transform .3s, height .3s, padding .3s;
            transition: transform .3s, height .3s, padding .3s;
            -moz-transform: rotate(0);
            -ms-transform: rotate(0);
            -o-transform: rotate(0);
            -webkit-transform: rotate(0);
            transform: rotate(0);
        }
    }

    &.x-collapsed .x-header:before, &.x-collapsing .x-header:before {
        -moz-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
        -o-transform: rotate(-90deg);
        -webkit-transform: rotate(-90deg);
        transform: rotate(-90deg);
    }

    &.x-collapsing {
    }
}
