

@import "../core/mixins.less";

.x-panel {
    background: @background-color;
    border: 1px solid @border-color;
    margin-bottom: @base-margin;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
}

.x-panel-header, .x-panel-footer {
    background-color: @panal-background-color;
    line-height: 150%;
    padding: @box-padding;
}

.x-panel-header {
    border-bottom: 1px solid @border-color;

    h1, h2, h3, h4, h5, h6 {
        margin: 0;
        line-height: 150%;
    }
}

.x-panel-footer {
    border-top: 1px solid @border-color;
}

.x-panel-body {
    padding: @box-padding-x;
    overflow: hidden;
    .box-sizing(border-box);
}

// 色系
.x-panel-status(@status){
    .x-panel-@{status} {
        border-color: ~"@{@{status}-border-color}";
        .x-panel-header {
            background-color: ~"@{@{status}-background-color}";
            border-color: ~"@{@{status}-border-color}";
            color: ~"@{@{status}-text-color}";
        }
    }
}

.x-panel-status(info);
.x-panel-status(success);
.x-panel-status(warning);
.x-panel-status(error);

// 折叠效果
.x-panel-expanded, .x-panel-collapsed {
    .x-panel-header {
        cursor: pointer;

        &:before {
            content: "\25be";
            font-family: 'IcoMoon';
            float: left;
            line-height: @base-line-height;
            margin-right: .3em;
            -moz-transition: -moz-transform .3s, height .3s, padding .3s;
            -o-transition: -o-transform .3s, height .3s, padding .3s;
            -webkit-transition: -webkit-transform .3s, height .3s, padding .3s;
            transition: transform .3s, height .3s, padding .3s;
        }
    }
}

.x-panel-collapsed {
    .x-panel-header {
        border-bottom: 0;

        &:before {
            .transform(rotate(-90deg));
        }
    }

    .x-panel-body {
        height: 0;
        padding-top: 0;
        padding-bottom: 0;
    }

}
