
@import "../core/mixins.less";

.x-tab {
    border-bottom: 1px solid @border-color;
    margin: 0;
    padding: 0;

    li {
        display: inline-block;
        list-style: none;
    }

    a {
        display: block;
        text-align: center;
        padding: @box-padding-y @font-size;
        position: relative;

        &:hover {
            background-color: @hover-background-color;
            text-decoration: none;
        }
    }
}

.x-tab-actived a{
    background-color: @background-color!important;
    border: 1px solid @border-color;
    border-width: 1px 1px 0 1px;
    top: 1px;
}

.x-tab-justify {
    width: 100%;
    display:table;

    li {
        display: table-cell;
    }
}

.x-tab-body {
    border: 1px solid @border-color;
    border-top: 0;
    padding: @box-padding-x;
    .box-sizing(border-box);
}

.x-tab.x-radius a{
    border-radius: @border-radius @border-radius 0 0;
} 

/*// Make the list-items overlay the bottom border
.x-tabbable li {
    margin: 0 0 -1px;
    list-style: none;
    float: left;
}

// Make links block level
.x-tabbable a {
    display: block;
    border: 1px solid transparent;
	.ie6-border-transparent(@backgroundColor);
    .border-radius(@baseBorderRadius @baseBorderRadius 0 0);
    padding: 7px 12px;

    &:hover {
        border-color: @grayLighter @grayLighter #ddd;
        background-color: @grayLighter;
        text-decoration: none;
    }
}

// Active state, and it's :hover to override normal :hover
.x-tabbable-selected a, .x-tabbable-selected a:hover {
    color: @gray;
    background-color: @backgroundColor;
    border: 1px solid @grayBorder;
    border-bottom-color: transparent;
    _border-bottom-color: @backgroundColor;
    _filter: chroma(color=@backgroundColor);
    cursor: default;
}

// Alt
// -----

.x-tabbable-alt {
    border-bottom: none;

    li a, li a:hover {
        border-color: transparent;
        _border-color: @backgroundColor;
    }
}

.x-tabbable-alt li {
    margin-right: 2px;
}

// Links rendered as pills
.x-tabbable-alt  li a {
    padding-top: 5px;
    padding-bottom: 5px;
    .border-radius(@baseBorderRadius);
}

// Active state
.x-tabbable-alt .x-tabbable-selected a, .x-tabbable-alt .x-tabbable-selected a:hover {
    color: @white;
    background-color: @linkColor;
}*/
