
@import "../core/mixins.less";

.x-tab-bottom, .x-tab-right, .x-tab-left {
    border-bottom: 0;
}

.x-tab-bottom {
    border-top: 1px solid @border-color;

    .x-tab-actived a{
        border-width: 0 1px 1px 1px;
        top: -1px;
    }
}

.x-tab-left, .x-tab-right {
    li {
        display: block;
    }
}

.x-tab-left {
    float: left;
    margin-right: @margin;
    border-right: 1px solid @border-color;
    
    .x-tab-actived a{
        border-width: 1px 0 1px 1px;
        top: auto;
        left: 1px;
    }
}

.x-tab-right {
    float: right;
    margin-left: @margin;
    border-left: 1px solid @border-color;
    
    .x-tab-actived a{
        border-width: 1px 1px 1px 0;
        top: auto;
        left: -1px;
    }
}
