## 用户自定义路径

## 前端项目通用

node_modules
communicate

## 常用忽略文件

*.patch
*.diff
.svn
*.tmp
*.log
*~

## 操作系统通用

Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

## IDE 相关

*.sublime-workspace
WebWorkbench.mswwsettings
_notes
.settings
.idea

## Visual Studio 相关

.vs
.ntvs_analysis.dat
/Bin/Microsoft.NodejsTools.WebRole.dll
/obj/
/packages/
*.suo
*.user
*.sln.docstates
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp_proj
*.vspscc
*.vssscc
*.pidb
*.scc
csx
*.build.csdef
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.psess
*.vsp
*.vspx
*.gpState
_ReSharper*/
*.[Rr]e[Ss]harper
_TeamCity*
*.dotCover
*.ncrunch*
.*crunch*.local.xml
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
*.vshost.*
