## 本项目专用

## 资源文件
_my

## 第三方包

node_modules
packages
communicate

## 临时文件
*.tmp
*.log
*~

## 版本控制
.svn
.git
*.patch
*.diff

## Windows
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/
Desktop.ini

## Mac
.DS_Store

## Sublime
*.sublime-workspace

## Dreamweaver
_notes

## WebStorm
WebWorkbench.mswwsettings
.idea
.settings

## Visual Studio
*.sln.docstates
*.vshost.*
obj/
.vs
.vscode
*.suo
*.user
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp_proj
*.vspscc
*.vssscc
*.pidb
*.scc
csx
*.build.csdef
ipch/
*.aps
*.ncb
*.cachefile
*.psess
*.vsp
*.vspx
*.gpState
_TeamCity*
TestResults/

## Visual Studio - 数据库
*.opensdf
*.sdf

## Visual Studio - Node 插件

.ntvs_analysis.dat
/Bin/Microsoft.NodejsTools.WebRole.dll

## Visual Studio - Sandcastle 插件

DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html

## Visual Studio - ReSharper 插件
*.dotCover
_ReSharper*/
*.[Rr]e[Ss]harper

## Visual Studio - NCrunch 插件
*.ncrunch*
.*crunch*.local.xml

## Visual Studio - GhostDoc 插件
*.GhostDoc.xml
