
## 本项目专用

## 个人文件
_my
_build

## NPM 忽略文件
packages.config
tsconfig.json
/src
/doc*
/demo*
/tool*
/test
/assets
.*
*proj
*.sln
*.md
gulpfile.js
gruntfile.js
webpack.config.js
tpack.config.js

## 第三方程序包
node_modules
packages
communicate

## 通用临时文件
*.tmp
*.log
*~
._*

## 版本控制软件
.svn
.git
*.patch
*.diff

## Windows
Thumbs.db
ehthumbs.db
$RECYCLE.BIN
Desktop.ini
*.lnk

## OSX
.DS_Store

## Sublime
*.sublime-workspace

## Dreamweaver
_notes

## WebStorm
WebWorkbench.mswwsettings
.idea
.settings
*.___jb_bak___
*.___jb_old___

## Visual Studio
.vs
obj
ipch
*.sln.*
*.vshost.*
*.suo
*.user
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp_proj
*_i.c
*_p.c
*.vspscc
*.vssscc
*.pidb
*.scc
csx
*.build.csdef
*.aps
*.ncb
*.cachefile
*.psess
*.vsp
*.vspx
*.gpState
_TeamCity*

## Visual Studio - 测试框架
TestResults
BuildLog.*
*.VisualState.xml
TestResult.xml
_Chutzpah*

## Visual Studio - 数据库
*.opensdf
*.sdf

## Visual Studio - Node 插件
.ntvs_analysis.dat
Microsoft.NodejsTools.WebRole.dll

## Visual Studio - Sandcastle 插件
DocProject

## Visual Studio - ReSharper 插件
*.dotCover
_ReSharper*/
*.ReSharper

## Visual Studio - NCrunch 插件
*.ncrunch*
.*crunch*.local.xml
