<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>栅格布局</title>
    <meta name="module-info" content="parent-title=布局, parent-order=core, package=default">
    <meta name="author" content="xuld@vip.qq.com">
    <meta name="description" content="栅格布局法：将网页分成 N 行，每行分成 N 列。通过此方法对整体网页分成多个模块进行排版。">

    <!-- 以下是本组件的全部源码 -->
    <link rel="stylesheet" type="text/css" href="../../src/core/base.css" />
    <link rel="stylesheet" type="text/css" href="../../src/layout/grid.css" />
</head>
<body>
    <!-- 以下代码仅用于文档演示 -->
    <script type="text/javascript" src="../../assets/doc.js"></script>
    <link rel="stylesheet" type="text/css" href="../../src/core/utility.css" />
    <style>
        .x-col span {
            background: #EEEEEE;
            height: 20px;
            width: 100%;
            text-align: center;
            line-height: 20px;
            color: #555555;
            display: block;
        }
    </style>

    <h2>基本用法</h2>
    <p>使用 <code>.x-row</code> 表示一行，使用 <code>.x-col</code> 表示一列，每列的宽度可通过相对宽度自行设置。</p>
    <aside class="doc-demo">
        <div class="x-row">
            <div class="x-col" style="width:25%;"><span>左</span></div>
            <div class="x-col" style="width:75%;"><span>右</span></div>
        </div>
    </aside>

    <h2>容器</h2>
    <p>容器的功能是定义一个全局居中的区域以显示网页内容。</p>
    <aside class="doc-demo">
        <div class="x-container">我是居中的容器</div>
    </aside>
    
    <h4>响应式容器</h4>
    <ul>
        <li>手机/平板：容器会占满整个屏幕，并预留默认 <code>1em=14px</code> 边距。</li>
        <li>电脑：容器固定为默认 <code>980px</code> 宽居中，并无边距。</li>
    </ul>

    <blockquote class="doc-warning">不能将 <code>.x-container</code> 和 <code>.x-row</code> 赋予同一个标签，而应该用 <code>.x-container</code> 嵌套 <code>.x-row</code>。</blockquote>

    <h2>布局嵌套</h2>
    <p>在任一列中又可以继续应用栅格方法细分。</p>
    <aside class="doc-demo">
        <div class="x-row">
            <div class="x-col" style="width:25%;"><span>左</span></div>
            <div class="x-col" style="width:75%;">
                <div class="x-row">
                    <div class="x-col" style="width:25%;"><span>右1</span></div>
                    <div class="x-col" style="width:75%;"><span>右2</span></div>
                </div>
            </div>
        </div>
    </aside>

    <h2>列排序</h2>
    <p>使用 <a href="../core/utility.html">辅助样式(utility)</a> 提供的 <code>.x-left</code> 和 <code>.x-right</code> 可重定义列的顺序。这在为了 SEO 需要将重要内容提前又不希望内容显示在左边的时候特别有用。</p>
    <aside class="doc-demo">
        <div class="x-row">
            <div class="x-col x-right" style="width:25%;"><span>我显示右边</span></div>
            <div class="x-col x-left" style="width:75%;"><span>我显示在左边</span></div>
        </div>

        <div class="x-row">
            <div class="x-col x-right" style="width:25%;"><span>我显示右边</span></div>
            <div class="x-col x-right" style="width:50%;"><span>我显示中边</span></div>
            <div class="x-col x-left" style="width:25%;"><span>我显示在左边</span></div>
        </div>
    </aside>

    <blockquote class="doc-info">如果想快速设置列宽和响应式，可使用 <a href="grid12.html">12栅格布局法(grid12)</a> 组件。</blockquote>

    <blockquote class="doc-info">如果只需等分布局，可使用 <a href="gridAverage.html">等分布局(gridAverage)</a> 组件。</blockquote>
</body>
</html>
