
@import "../core/mixins.less";

// 注意，本页样式顺序不能随便调整。

.x-container, .x-col {
    padding-left: @grid-gutter-width / 2;
    padding-right: @grid-gutter-width / 2;
    position: relative;
    .box-sizing(border-box);
}

.x-row {
    margin-left: -@grid-gutter-width / 2;
    margin-right: -@grid-gutter-width / 2;
    .clearfix();
}

// 容器
.x-container {
    margin-left: auto;
    margin-right: auto;
    
    // 电脑固定尺寸。
    @media (min-width: @screen-large-min) {
        width: @grid-container-width;
        padding-left: 0;
        padding-right: 0;
    }
}

.x-col {
    float: left;
    margin-bottom: @grid-margin;
    min-height: 1px;
}
