@import "configs";

@media print {
    *, *::before, *::after {
        text-shadow: none !important;
        box-shadow: none !important;

        .x-print-black & {
            background: transparent !important;
            color: #000 !important; // 使用黑色加速打印：http://www.sanbeiji.com/archives/953。
        }
    }

    h2, h3, p {
        orphans: 3;
        widows: 3;
    }

    h2, h3 {
        page-break-after: avoid;
    }

    pre, blockquote, tr, img {
        page-break-inside: avoid; // 避免连贯的元素被分页。
    }

    pre, blockquote {
        border: 1px solid #999;
    }

    thead {
        display: table-header-group; // 修复表格显示，参考 http://css-discuss.incutio.com/wiki/Printing_Tables。
    }

    a {
        &, &:visited {
            text-decoration: underline;
        }

        &[target="_blank"][href^="http://"]::after, &[target="_blank"][href^="https://"]::after {
            content: " (" attr(href) ")";
        }
    }

    abbr[title]::after {
        content: " [" attr(title) "] "; // 追加备注信息。
    }

    .x-hide-print {
        display: none !important;
    }
}

@media not print {
    .x-show-print {
        display: none !important;
    }
}
