<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="module-info" content="index=2, package=default" />
    <title>等分布局</title>

    <!-- 以下是本组件需要的全部源码 -->
    <link rel="stylesheet" type="text/css" href="../../src/core/base.css" />
    <link rel="stylesheet" type="text/css" href="../../src/layout/grid.css" />
    <link rel="stylesheet" type="text/css" href="../../src/layout/flex.css" />

</head>
<body>

    <!-- 以下代码仅用于演示 -->
    <style>
        .x-col span {
            background: #EEEEEE;
            height: 20px;
            width: 100%;
            text-align: center;
            line-height: 20px;
            color: #555555;
            display: block;
            font-weight: 700;
        }
    </style>

    <script type="text/javascript" src="../../assets/doc.js"></script>

    <blockquote>提供等分布局的快速方案。</blockquote>
    
    <p>不同于 <a href="grid.html">栅格布局</a> 组件，等分布局只需指定要分的列数，系统会自动平分。</p>

    <aside class="doc-demo">
        <div class="x-grid x-grid-2">
            <div class="x-col"><span>A</span></div>
            <div class="x-col"><span>B</span></div>
        </div>
    </aside>

    <aside class="doc-demo">
        <div class="x-grid x-grid-3">
            <div class="x-col"><span>A</span></div>
            <div class="x-col"><span>B</span></div>
            <div class="x-col"><span>C</span></div>
        </div>
    </aside>

    <aside class="doc-demo">
        <div class="x-grid x-grid-2 x-grid-large-4">
            <div class="x-col"><span>A</span></div>
            <div class="x-col"><span>B</span></div>
            <div class="x-col"><span>C</span></div>
            <div class="x-col"><span>D</span></div>
        </div>
    </aside>

    <aside class="doc-demo">
        <div class="x-grid x-grid-5">
            <div class="x-col"><span>A</span></div>
            <div class="x-col"><span>B</span></div>
            <div class="x-col"><span>C</span></div>
            <div class="x-col"><span>D</span></div>
            <div class="x-col"><span>E</span></div>
        </div>
    </aside>

    <aside class="doc-demo">
        <div class="x-grid x-grid-3 x-grid-large-6">
            <div class="x-col"><span>A</span></div>
            <div class="x-col"><span>B</span></div>
            <div class="x-col"><span>C</span></div>
            <div class="x-col"><span>D</span></div>
            <div class="x-col"><span>E</span></div>
            <div class="x-col"><span>F</span></div>
        </div>
    </aside>

</body>
</html>
