<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>12栅格布局</title>
    <meta name="module-info" content="order=grid, package=default">
    <meta name="author" content="xuld@vip.qq.com">
    <meta name="description" content="12 栅格法即将每行分成 12 列，然后将任意 N 列合并，最终实现左窄右宽、左中右平分等常见分列布局效果。">

    <!-- 以下是本组件的全部源码 -->
    <link rel="stylesheet" type="text/css" href="../../src/core/base.css" />
    <link rel="stylesheet" type="text/css" href="../../src/layout/grid.css" />
    <link rel="stylesheet" type="text/css" href="../../src/layout/grid12.css" />
</head>
<body>
    <!-- 以下代码仅用于文档演示 -->
    <script type="text/javascript" src="../../assets/doc.js"></script>
    <style>
        .x-col span {
            background: #EEEEEE;
            height: 20px;
            width: 100%;
            text-align: center;
            line-height: 20px;
            color: #555555;
            display: block;
        }
    </style>

    <h2>基本用法</h2>
    <p>使用 <code>.x-grid</code> 表示一行，使用 <code>.x-col</code> 表示一列，列的宽度分别使用 <code>.x-col-*</code>(其中 * 是 1-12 的整数) 标识。只要一行内的所有列宽度后缀加起来等于 12，即可占满一行。如果超过 12，列会自动换行。</p>
    <aside class="doc-demo">
        <div class="x-grid">
            <div class="x-col x-col-4"><span>左</span></div>
            <div class="x-col x-col-8"><span>右</span></div>
        </div>
    </aside>

    <h2>响应式布局</h2>
    <p>通过添加前缀可以实现不同的屏幕大小应用不同的布局方式：</p>
    <ul>
        <li><code>.x-col-*</code>: 小屏（默认、手机）按此宽度布局。</li>
        <li><code>.x-col-large-*</code>: 大屏（平板、电脑等）按此宽度布局。</li>
    </ul>

    <p>大屏（平板、电脑等）上显示 3 列，小屏（手机）上显示 1 列（可以调整浏览器窗口大小查看效果）：</p>
    <aside class="doc-demo">
        <div class="x-grid">
            <div class="x-col x-col-12 x-col-large-4">
                <span>A</span>
            </div>
            <div class="x-col x-col-12 x-col-large-4">
                <span>B</span>
            </div>
            <div class="x-col x-col-12 x-col-large-4">
                <span>C</span>
            </div>
        </div>
    </aside>

    <h2>常见布局</h2>
    
    <h3>左小右大</h3>
    <aside class="doc-demo">
        <div class="x-grid">
            <div class="x-col x-col-12 x-col-large-3"><span>左边栏</span></div>
            <div class="x-col x-col-12 x-col-large-9"><span>主体</span></div>
        </div>
    </aside>

    <h3>左大右小</h3>
    <aside class="doc-demo">
        <div class="x-grid">
            <div class="x-col x-col-12 x-col-large-9"><span>主体</span></div>
            <div class="x-col x-col-12 x-col-large-3"><span>右边栏</span></div>
        </div>
    </aside>

    <h3>左右平分</h3>
    <aside class="doc-demo">
        <div class="x-grid">
            <div class="x-col x-col-12 x-col-large-6"><span>主体 1</span></div>
            <div class="x-col x-col-12 x-col-large-6"><span>主体 2</span></div>
        </div>
    </aside>

    <h3>左中右</h3>
    <aside class="doc-demo">
        <div class="x-grid">
            <div class="x-col x-col-12 x-col-large-3"><span>左边栏</span></div>
            <div class="x-col x-col-12 x-col-large-7"><span>主体</span></div>
            <div class="x-col x-col-12 x-col-large-2"><span>右边栏</span></div>
        </div>
    </aside>

    <h3>三等分</h3>
    <aside class="doc-demo">
        <div class="x-grid">
            <div class="x-col x-col-12 x-col-large-4"><span>主体 1</span></div>
            <div class="x-col x-col-12 x-col-large-4"><span>主体 2</span></div>
            <div class="x-col x-col-12 x-col-large-4"><span>主体 3</span></div>
        </div>
    </aside>

    <h3>四等分</h3>
    <aside class="doc-demo">
        <div class="x-grid">
            <div class="x-col x-col-12 x-col-large-3"><span>主体 1</span></div>
            <div class="x-col x-col-12 x-col-large-3"><span>主体 2</span></div>
            <div class="x-col x-col-12 x-col-large-3"><span>主体 3</span></div>
            <div class="x-col x-col-12 x-col-large-3"><span>主体 4</span></div>
        </div>
    </aside>

    <h2>列宽一览表</h2>
    <aside class="doc-demo">
        <div class="x-grid">
            <div class="x-col x-col-12">
                <span>1/1</span>
            </div>
        </div>
        <div class="x-grid">
            <div class="x-col x-col-6"><span>1/2</span></div>
            <div class="x-col x-col-6"><span>1/2</span></div>
        </div>
        <div class="x-grid">
            <div class="x-col x-col-4"><span>1/3</span></div>
            <div class="x-col x-col-4"><span>1/3</span></div>
            <div class="x-col x-col-4"><span>1/3</span></div>
        </div>
        <div class="x-grid">
            <div class="x-col x-col-3"><span>1/4</span></div>
            <div class="x-col x-col-3"><span>1/4</span></div>
            <div class="x-col x-col-3"><span>1/4</span></div>
            <div class="x-col x-col-3"><span>1/4</span></div>
        </div>
        <div class="x-grid">
            <div class="x-col x-col-2"><span>1/6</span></div>
            <div class="x-col x-col-2"><span>1/6</span></div>
            <div class="x-col x-col-2"><span>1/6</span></div>
            <div class="x-col x-col-2"><span>1/6</span></div>
            <div class="x-col x-col-2"><span>1/6</span></div>
            <div class="x-col x-col-2"><span>1/6</span></div>
        </div>
        <div class="x-grid">
            <div class="x-col x-col-1"><span>1/12</span></div>
            <div class="x-col x-col-1"><span>1/12</span></div>
            <div class="x-col x-col-1"><span>1/12</span></div>
            <div class="x-col x-col-1"><span>1/12</span></div>
            <div class="x-col x-col-1"><span>1/12</span></div>
            <div class="x-col x-col-1"><span>1/12</span></div>
            <div class="x-col x-col-1"><span>1/12</span></div>
            <div class="x-col x-col-1"><span>1/12</span></div>
            <div class="x-col x-col-1"><span>1/12</span></div>
            <div class="x-col x-col-1"><span>1/12</span></div>
            <div class="x-col x-col-1"><span>1/12</span></div>
            <div class="x-col x-col-1"><span>1/12</span></div>
        </div>
    </aside>

    <blockquote class="doc-info">如果只需等分布局，可使用 <a href="flex.html">等分布局(flex)</a> 组件。</blockquote>
</body>
</html>
