<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="module-info" content="status=todo">
    <title>布局引擎</title>

    <link rel="stylesheet" type="text/css" href="../../src/core/base.css" />
    <link rel="stylesheet" type="text/css" href="../../src/partial/splitter.css" />

    <script type="text/javascript" src="../../../src/core/core.js"></script>
    <script type="text/javascript" src="../../../src/dom/core.js"></script>
    <script type="text/javascript" src="../../src/core/base.js"></script>
    <script type="text/javascript" src="../../src/partial/splitter.js"></script>

</head>
<body>
    <script type="text/javascript" src="../../assets/doc.js"></script>
    
    <blockquote>JavaScript 实现的强大布局引擎。</blockquote>

    <article>

        <aside class="demo demo-relative">

            <div class="x-splitter-proxy x-splitter-left" style="height: 100px;">
            </div>

        </aside>

    </article>
</body>
</html>
