<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="uiSettings" type="Xuld.XFly.UISettingsSection, XFly, Version=3.0.0.0, Culture=neutral, PublicKeyToken=8603a0abf2518793"/>
  </configSections>
  <uiSettings>
    <app 
      oninit="Start@Xuld.XFly.Plugins.ServerManager, ServerManager"
      onexit="Stop@Xuld.XFly.Plugins.ServerManager, ServerManager"
      onclick="Browser@Xuld.XFly.Plugins.ServerManager, ServerManager">
    </app>
    <menus>
      <add name="在浏览器中打开(&amp;H)" onclick="Browser@Xuld.XFly.Plugins.ServerManager, ServerManager" shortcut="Ctrl+Alt+G"/>
      <add name="浏览本地文件夹(&amp;E)" onclick="Explorer@Xuld.XFly.Plugins.ServerManager, ServerManager" shortcut="Ctrl+Alt+G"/>
      <add name="重启服务器(&amp;S)" onclick="Restart@Xuld.XFly.Plugins.ServerManager, ServerManager" shortcut="Ctrl+Alt+G"/>
      <add name="-"/>
      <add name="复制为外网地址(&amp;S)" onclick="Restart@Xuld.XFly.Plugins.ServerManager, ServerManager" shortcut="Ctrl+Alt+G"/>
      <add name="-"/>
      <add name="退出(&amp;X)" onclick="Close"></add>
      <add oninit="Hello@Xuld.XFly.Plugins.HelloWorld, HelloWorld"></add>
    </menus>
  </uiSettings>
</configuration>