<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="module-info" content="status=todo" />
    <title>(组件名)</title>

    <!-- 以下是本组件需要的全部源码 -->
    <script type="text/javascript" src="tpl.js"></script>

</head>
<body>

    <!-- 以下代码仅用于演示 -->
    <script type="text/javascript" src="~/assets/doc.js"></script>

    <blockquote>本组件提供了(什么功能)。</blockquote>

    <h5>(组件功能说明)</h5>
    
    <pre>(组件源码示例)</pre>

</body>
</html>
