.x-article dd {
  margin: 0;
}
#article_author .x-userface-bordered {
  margin: 0 1em 1em 0;
}
#article_author h3 a {
  color: #333;
}
.user-info {
  font-size: .9em;
  margin-bottom: 1em;
  line-height: 160%;
}
#article_toolbar,
#article_comments {
  margin-top: 2em;
}
