.x-breadcrumb {
  padding: 8px 15px;
  margin: 0 0 18px;
  list-style: none;
  background-color: #f5f5f5;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.x-breadcrumb li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  text-shadow: 0 1px 0 #ffffff;
}
.x-breadcrumb .x-breadcrumb-divider {
  padding: 0 5px;
  color: #999999;
}
.x-breadcrumb .x-breadcrumb-selected a {
  color: #333333;
}
