.ui-pagination {
  display: inline-block;
  margin: 0;
  *display: inline;
  *zoom: 1;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  -webkit-boui-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  -moz-boui-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
  boui-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
}
.ui-pagination li {
  display: inline;
}
.ui-pagination a,
.ui-pagination span {
  float: left;
  padding: 4px 12px;
  line-height: 18px;
  text-decoration: none;
  border: 1px solid #ddd;
  border-left-width: 0;
}
.ui-pagination a:hover,
.ui-pagination-selected a,
.ui-pagination-selected span {
  background-color: #f5f5f5;
}
.ui-pagination-selected a,
.ui-pagination-selected span {
  color: #555555;
  cursor: default;
}
.ui-pagination-disabled a,
.ui-pagination-disabled a:hover {
  color: #999999;
  background-color: transparent;
  cursor: default;
}
.ui-pagination li:first-child a,
.ui-pagination-first a {
  border-left-width: 1px;
  -webkit-border-radius: 3px 0 0 3px;
  -moz-border-radius: 3px 0 0 3px;
  border-radius: 3px 0 0 3px;
}
.ui-pagination li:last-child a {
  -webkit-border-radius: 0 3px 3px 0;
  -moz-border-radius: 0 3px 3px 0;
  border-radius: 0 3px 3px 0;
}
