/*  菜单  */
.ui-menu {
  min-width: 130px;
  position: absolute;
  background: url(images/menu.gif) #f0f0f0 repeat-y;
  border: 1px solid #999999;
  *width: 200px;
  margin: 0px;
  padding: 2.8px;
}
.ui-menu li {
  outline-color: -moz-use-text-color;
  outline-style: none;
  outline-width: 0;
  white-space: nowrap;
  border-style: solid;
  border-width: 1px 0;
  border-color: transparent;
  list-style: none;
  padding: 0;
}
.ui-menuitem {
  line-height: 20px;
  overflow: hidden;
  display: block;
  padding: 1px 2px;
  margin: 0 -1px;
  border-style: solid;
  border-width: 0 1px;
  border-color: transparent;
  cursor: default;
  font-size: 12px;
  color: #000000;
  _padding: 0 2px;
}
.ui-menuitem:hover {
  color: #000000;
  text-decoration: none;
}
.ui-menu-handle-top,
.ui-menu-handle-bottom {
  height: 6px;
  line-height: 6px;
  font-size: 6px;
  display: block;
  cursor: pointer;
  background-position: center center;
  background-repeat: no-repeat;
  border-width: 1px;
  border-style: solid;
  border-color: transparent;
  margin-left: -1px;
}
.ui-menu li,
.ui-menuitem,
.ui-menu-handle-top,
.ui-menu-handle-bottom {
  _border-color: #f0f0f0;
  _filter: chroma(color=#f0f0f0);
}
.ui-menu-hover {
  background-position: center;
  background-image: url(images/item-over.gif);
  background-color: #dbecf4;
  border-color: #aaccf6;
}
.ui-menuitem-hover {
  border-color: #aaccf6;
}
.ui-menuitem-submenu {
  background: url(images/menu-arrow.gif) no-repeat right 5px;
  padding-right: 21px;
}
.ui-menuitem-disabled {
  color: gray;
}
.ui-menuseperator {
  display: block;
  margin: 0 0 0 22px;
  height: 0px;
  border-top: 1px solid #E0E0E0;
  border-bottom: 1px solid #FFFFFF;
  *font-size: expression(this.runtimeStyle.fontSize = this.parentNode.runtimeStyle.lineHeight = this.parentNode.runtimeStyle.fontSize = 0);
}
.ui-menu li .ui-icon {
  margin-left: 3px;
  margin-right: 10px;
}
.ui-menu-plain {
  background-image: none!important;
}
.ui-menu-handle-top {
  background-image: url(images/mini-top.gif);
}
.ui-menu-handle-bottom {
  background-image: url(images/mini-bottom.gif);
}
.ui-menu-handle-top:hover,
.ui-menu-handle-bottom:hover {
  background-color: #dbecf4;
  border-color: #aaccf6;
}
.ui-icon-selected {
  background-image: url(images/selected.gif);
}
.ui-icon-checked {
  background-image: url(images/checked.gif);
}
.ui-icon-unchecked {
  background-image: url(images/unchecked.gif);
}
