.x-button {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  padding: 4px 14px;
  font-size: 13px;
  line-height: 18px;
  color: #333333;
  text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
  border: 1px solid #cccccc;
  border-bottom-color: #b3b3b3;
  background-color: #e6e6e6;
  background-image: -moz-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
  background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
  background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
  background-repeat: repeat-x;
  border-color: #e6e6e6 #e6e6e6 #bfbfbf;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
  text-align: center;
  vertical-align: middle;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  *margin-left: .3em;
  -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
  box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.x-button:hover,
.x-button:active,
.x-button.x-button-actived,
.x-button[disabled],
.x-button.x-button-disabled {
  background-color: #e6e6e6;
}
.x-button:first-child {
  *margin-left: 0;
}
.x-button:hover {
  color: #333333;
  text-decoration: none;
  background-color: #e6e6e6;
  background-position: 0 -15.3px;
  -webkit-transition: background-position 0.1s linear;
  -moz-transition: background-position 0.1s linear;
  -o-transition: background-position 0.1s linear;
  transition: background-position 0.1s linear;
}
.x-button:active,
.x-button-actived {
  background-color: #e6e6e6;
  background-color: #d9d9d9 \9;
  background-image: none;
  outline: 0;
  -webkit-box-shadow: inset 0 2px 4px rgba(0,0,0,.25), 0 1px 2px rgba(0,0,0,.15);
  -moz-box-shadow: inset 0 2px 4px rgba(0,0,0,.25), 0 1px 2px rgba(0,0,0,.15);
  box-shadow: inset 0 2px 4px rgba(0,0,0,.25), 0 1px 2px rgba(0,0,0,.15);
}
.x-button[disabled],
.x-button-disabled {
  cursor: default;
  background-image: none;
  opacity: 0.6;
  filter: alpha(opacity=60);
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.x-button-large {
  padding: 9px 24px;
  line-height: 150%;
  font-size: 16px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
}
.x-button-small {
  padding: 2px 9px;
  font-size: 10px;
}
.x-button-smallest {
  padding: 1px 6px;
  font-size: 10px;
  line-height: 14px;
}
.x-button-hint,
.x-button-hint:hover,
.x-button-success,
.x-button-success:hover,
.x-button-info,
.x-button-info:hover,
.x-button-warning,
.x-button-warning:hover,
.x-button-error,
.x-button-error:hover,
.x-button-highlight,
.x-button-highlight:hover,
.x-button-alt:hover,
.x-button-alt:active {
  text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
  color: #ffffff;
}
.x-button-alt:hover,
.x-button-alt:active {
  background-color: #2f96b4;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
.x-button-hint {
  background-color: #262626;
  background-image: -moz-linear-gradient(top, #454545, #262626);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#454545), to(#262626));
  background-image: -webkit-linear-gradient(top, #454545, #262626);
  background-image: -o-linear-gradient(top, #454545, #262626);
  background-image: linear-gradient(to bottom, #454545, #262626);
  background-repeat: repeat-x;
  border-color: #262626 #262626 #000000;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
.x-button-hint:hover,
.x-button-hint:active,
.x-button-hint.x-button-actived,
.x-button-hint[disabled],
.x-button-hint.x-button-disabled {
  background-color: #262626;
}
.x-button-success {
  background-color: #51a351;
  background-image: -moz-linear-gradient(top, #62c462, #51a351);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#62c462), to(#51a351));
  background-image: -webkit-linear-gradient(top, #62c462, #51a351);
  background-image: -o-linear-gradient(top, #62c462, #51a351);
  background-image: linear-gradient(to bottom, #62c462, #51a351);
  background-repeat: repeat-x;
  border-color: #51a351 #51a351 #387038;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
.x-button-success:hover,
.x-button-success:active,
.x-button-success.x-button-actived,
.x-button-success[disabled],
.x-button-success.x-button-disabled {
  background-color: #51a351;
}
.x-button-info {
  background-color: #2f96b4;
  background-image: -moz-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#5bc0de), to(#2f96b4));
  background-image: -webkit-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: -o-linear-gradient(top, #5bc0de, #2f96b4);
  background-image: linear-gradient(to bottom, #5bc0de, #2f96b4);
  background-repeat: repeat-x;
  border-color: #2f96b4 #2f96b4 #1f6377;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
.x-button-info:hover,
.x-button-info:active,
.x-button-info.x-button-actived,
.x-button-info[disabled],
.x-button-info.x-button-disabled {
  background-color: #2f96b4;
}
.x-button-warning {
  background-color: #f89406;
  background-image: -moz-linear-gradient(top, #fbb450, #f89406);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fbb450), to(#f89406));
  background-image: -webkit-linear-gradient(top, #fbb450, #f89406);
  background-image: -o-linear-gradient(top, #fbb450, #f89406);
  background-image: linear-gradient(to bottom, #fbb450, #f89406);
  background-repeat: repeat-x;
  border-color: #f89406 #f89406 #ad6704;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
.x-button-warning:hover,
.x-button-warning:active,
.x-button-warning.x-button-actived,
.x-button-warning[disabled],
.x-button-warning.x-button-disabled {
  background-color: #f89406;
}
.x-button-error {
  background-color: #bd362f;
  background-image: -moz-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ee5f5b), to(#bd362f));
  background-image: -webkit-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: -o-linear-gradient(top, #ee5f5b, #bd362f);
  background-image: linear-gradient(to bottom, #ee5f5b, #bd362f);
  background-repeat: repeat-x;
  border-color: #bd362f #bd362f #802420;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
.x-button-error:hover,
.x-button-error:active,
.x-button-error.x-button-actived,
.x-button-error[disabled],
.x-button-error.x-button-disabled {
  background-color: #bd362f;
}
.x-button-highlight {
  background-color: #4a81ca;
  background-image: -moz-linear-gradient(top, #4aacca, #4a81ca);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#4aacca), to(#4a81ca));
  background-image: -webkit-linear-gradient(top, #4aacca, #4a81ca);
  background-image: -o-linear-gradient(top, #4aacca, #4a81ca);
  background-image: linear-gradient(to bottom, #4aacca, #4a81ca);
  background-repeat: repeat-x;
  border-color: #4a81ca #4a81ca #2d5c9a;
  border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.15) rgba(0, 0, 0, 0.25);
}
.x-button-highlight:hover,
.x-button-highlight:active,
.x-button-highlight.x-button-actived,
.x-button-highlight[disabled],
.x-button-highlight.x-button-disabled {
  background-color: #4a81ca;
}
button.x-button,
input.x-button {
  *padding: 4px 5px 0;
}
button.x-button-large,
input.x-button-large {
  *padding-top: 7px;
  *padding-bottom: 5px;
}
button.x-button-small,
input.x-button-small {
  *padding-top: 1px;
}
.x-button-plain {
  background: none;
  color: #333333;
  border-color: transparent;
  _border-color: #ffffff;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
.x-button-fixed {
  padding-left: 20px!important;
  padding-right: 20px!important;
}
