
@import "../core/mixins.less";

.x-articlelist {
    > li {
        padding: .5em 0;
    }
    p {
        font-size: 13px;
        line-height: 150%;
        color: lighten(@text-color, 20%);
        margin-bottom: 0;
    }

    small a {
        color: @tip-text-color;
    }
}
