/**
 * @author xuld
 */
.x-badge {
  display: inline-block;
  font-size: .8em;
  margin-right: .4em;
  color: #fff;
  line-height: 155%;
  padding: 0 .4em;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
  background-color: #bdbdbd;
  -moz-transition: opacity 0.3s ease-out;
  -o-transition: opacity 0.3s ease-out;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}
sup.x-badge {
  margin-left: .4em;
  vertical-align: top;
}
a.x-badge:hover {
  text-decoration: none;
  opacity: .8;
}
.x-badge.x-info {
  background: #049cdb;
}
.x-badge.x-success {
  background: #5eb95e;
}
.x-badge.x-warning {
  background: #e9985e;
}
.x-badge.x-error {
  background: #dd514c;
}
