
@import "../core/mixins.less";

.x-blockquote {
    padding-left: @base-font-size;
    border-left: 5px solid @border-color;
    text-align: right;

    p {
        margin-bottom: 0;
        font-family: Georgia, "Times New Roman", Times, Kai, "Kaiti SC", KaiTi, BiauKai, serif;
        text-align: left;
    }
}
