/**
 * @author xuld
 */

@import "../core/mixins.less";

.x-imagetext {
    display: table;
}

.x-imagetext-image, .x-imagetext-text {
    display: table-cell;
    vertical-align: top;
}

.x-imagetext-image {
    img {
        max-width: none;
        margin-top: @box-padding-y + 1px;
    }

    &:first-child img {
        margin-right: @box-padding-x;
    }

    &:last-child img {
        margin-left: @box-padding-x;
    }
}

.x-imagetext-text {
    width: 100%;
}
