/**
 * @author xuld
 */

@import "../core/mixins.less";

.x-imagetext {
    display: table;
}

.x-imagetext-image, .x-imagetext-text {
    display: table-cell;
    vertical-align: top;
}

.x-imagetext-image {
    img {
        max-width: none;
        margin-top: .4em;
    }

    &:first-child img {
        margin-right: .5em;
    }

    &:last-child img {
        margin-left: .5em;
    }
}

.x-imagetext-text {
    width: 100%;
}
