/**
 * @author xuld
 */
.x-imagetext {
  display: table;
}
.x-imagetext-image,
.x-imagetext-text {
  display: table-cell;
  vertical-align: top;
}
.x-imagetext-image img {
  max-width: none;
  margin-top: 5px;
}
.x-imagetext-image:first-child img {
  margin-right: 10px;
}
.x-imagetext-image:last-child img {
  margin-left: 10px;
}
.x-imagetext-text {
  width: 100%;
}
