
@import "../core/mixins.less";

.x-list {

    > li {
        border-top: 1px solid @border-color;
        padding: 0.3em 0;

        &:first-child {
            border-top: 0;
        }
    }
    
    &.x-stripped {
        > li:nth-child(even) {
            background-color: #f9f9f9;
        }
    }

    &.x-bordered {
        border: 1px solid @border-color;

        > li {
            padding: 0.3em 0.6em;
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            box-sizing: border-box;
        }

    }

}

.x-buttongroup {
    li {
        padding: 0;

        > a {
            display: block;
            padding: 0.3em 0.6em;

            &:hover {
                background-color: #f3f3f3;
                text-decoration: none;
            }
        }
        
        &.x-selected > a {
            background-color: @link-text-color;
            color: @background-color;
        }
    }
}
