.x-table {
  width: 100%;
}
.x-table tbody tr:hover {
  background-color: #f3f3f3;
}
.x-table-striped tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}
.x-table-info {
  background-color: #d9edf7 !important;
  color: #5bc0de;
}
.x-table-success {
  background-color: #dff0d8 !important;
  color: #5cb85c;
}
.x-table-warning {
  background-color: #fcf8e3 !important;
  color: #f0ad4e;
}
.x-table-error {
  background-color: #f2dede !important;
  color: #d9534f;
}
.x-table-actived {
  background-color: #ffd!important;
}
