
@import "../core/mixins.less";

.x-table {
    width: 100%;

    tbody {
        // 鼠标以上高亮。
        tr:hover {
            background-color: #f3f3f3;
        }
    }
    
}

// 表格间隔行高亮。
.x-table-stripped tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

// 颜色
.x-table-status(@status){
    .x-table-@{status} {
        background-color: ~"@{@{status}-background-color}";
        color: ~"@{@{status}-text-color}";
    }
}

.x-table-status(info);
.x-table-status(success);
.x-table-status(warning);
.x-table-status(error);

// 激活状态。
.x-table-actived {
    background-color: #ffd;
}