
@import "../core/mixins.less";

.x-table {
    max-width: 100%;
    width: 100%;

    tbody {
        // 鼠标以上高亮。
        tr:hover {
            background-color: #f3f3f3;
        }
    }
}

// 表格间隔行高亮。
.x-table-stripped tbody tr:nth-child(odd) {
    background-color: #f9f9f9;
}

// 颜色
.x-table-info {
    background-color: @info-background-color !important;
    color: @info-text-color;
}

.x-table-success {
    background-color: @success-background-color !important;
    color: @success-text-color;
}

.x-table-warn {
    background-color: @warn-background-color !important;
    color: @warn-text-color;
}

.x-table-error {
    background-color: @error-background-color !important;
    color: @error-text-color;
}

// 激活状态。
.x-table-actived {
    background-color: #ffd !important;
}

.x-table-small {
    th, td {
        padding: 2px 4px;
    }
}
