/**
 * @author xuld
 */

@import "../core/mixins.less";

.x-tag {
    display: inline-block;
    margin-right: .3em;
    font-size: @base-font-size - 2px;
    line-height: 150%;
    padding: 0 1em * 4px / (@base-font-size - 2px);
    border-radius: @base-border-radius;
    color: @background-color;
    background-color: @hint-color;
    -moz-transition: opacity .3s;
    -o-transition: opacity .3s;
    -webkit-transition: opacity .3s;
    transition: opacity .3s;
    
    a&:hover {
        text-decoration: none;
        opacity: .8;
    }
    
    sup&{
        margin-left: .6em;
        vertical-align: top;
    }
    
    &.x-info {
        background: @info-text-color;
    }

    &.x-success {
        background: @success-text-color;
    }

    &.x-warning {
        background: @warning-text-color;
    }

    &.x-error {
        background: @error-text-color;
    }

    &.x-radius {
        border-radius: @base-border-radius * 2;
    }

}
