/**
 * @author xuld
 */

@import "../core/mixins.less";

.x-tag {
    display: inline-block;
    margin-right: .3em;
    font-size: @small-font-size;
    line-height: 149%;
    padding: 0 4px;
    border-radius: @base-border-radius;
    background-color: @small-text-color;
    color: @selected-text-color;
    min-width: 1em;
    text-align: center;
    .transition(opacity .3s);
    
    a&:hover {
        text-decoration: none;
        .opacity(.8);
    }
    
    &.x-radius {
        border-radius: @base-border-radius * 2;
    }

}

// 色系
.x-tag-state(@state){
    .x-tag-@{state} {
        background-color: ~"@{@{state}-text-color}";
    }
}

.x-tag-state(info);
.x-tag-state(success);
.x-tag-state(warning);
.x-tag-state(error);
