/**
 * @author xuld
 */
.x-tag {
  display: inline-block;
  margin-right: .3em;
  font-size: 12px;
  line-height: 150%;
  padding: 0 4px;
  border-radius: 4px;
  background-color: #aaaaaa;
  color: #ffffff;
  -moz-transition: opacity .3s;
  -o-transition: opacity .3s;
  -webkit-transition: opacity .3s;
  transition: opacity .3s;
}
a.x-tag:hover {
  text-decoration: none;
  opacity: .8;
}
.x-tag.x-info {
  background: #049cdb;
}
.x-tag.x-success {
  background: #5eb95e;
}
.x-tag.x-warning {
  background: #e9985e;
}
.x-tag.x-error {
  background: #dd514c;
}
.x-tag.x-radius {
  border-radius: 8px;
}
