/**
 * @author xuld
 */
.x-tag {
  display: inline-block;
  margin-right: .3em;
  font-size: 12px;
  line-height: 149%;
  padding: 0 4px;
  border-radius: 4px;
  background-color: #ababab;
  color: #ffffff;
  min-width: 1em;
  text-align: center;
  -moz-transition: opacity 0.3s;
  -o-transition: opacity 0.3s;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
a.x-tag:hover {
  text-decoration: none;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.x-tag.x-radius {
  border-radius: 8px;
}
.x-tag-info {
  background-color: #31708f;
}
.x-tag-success {
  background-color: #3c763d;
}
.x-tag-warning {
  background-color: #8a6d3b;
}
.x-tag-error {
  background-color: #a94442;
}
