/**
 * @author xuld
 */

@import "../core/mixins.less";

.x-tip {
    color: @hint-color;

    &.x-info {
        color: @info-text-color;
    }

    &.x-success {
        color: @success-text-color;
    }

    &.x-warning {
        color: @warning-text-color;
    }

    &.x-error {
        color: @error-text-color;
    }
}
