
@import "../core/mixins.less";

.x-tipbox {
    display: block;
    padding: @box-padding;
    background-color: #F7F7F7;
    border: 1px solid @border-color;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
    span& {
        display: inline-block;
    }

}

// 色系
.x-tipbox-state(@state){
    .x-tipbox-@{state} {
        background-color: ~"@{@{state}-background-color}";
        border-color: ~"@{@{state}-border-color}";
        color: ~"@{@{state}-text-color}";
    }
}

.x-tipbox-state(info);
.x-tipbox-state(success);
.x-tipbox-state(warning);
.x-tipbox-state(error);

.x-tipbox.x-tipbox-plain {
    background-color: transparent;
    border-color: transparent;
}
