.x-tipbox {
  display: block;
  padding: 4px 8px;
  background-color: #F7F7F7;
  border: 1px solid #e0e0e0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
span.x-tipbox {
  display: inline-block;
}
.x-tipbox.x-warning {
  border: 1px solid #fbd0ae;
  background-color: rgba(243, 123, 29, 0.15);
  color: #e9985e;
}
.x-tipbox.x-success {
  background-color: rgba(94, 185, 94, 0.15);
  border-color: #c9e7c9;
  color: #5eb95e;
}
.x-tipbox.x-error {
  background-color: rgba(221, 81, 76, 0.15);
  border-color: #f5cecd;
  color: #dd514c;
}
.x-tipbox.x-info {
  background-color: rgba(59, 180, 242, 0.15);
  border-color: #caebfb;
  color: #049cdb;
}
.x-tipbox.x-tipbox-plain {
  background-color: transparent;
  border-color: transparent;
}
