<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="module-info" content="group=arrow">
    <title>箭头</title>

    <link rel="stylesheet" type="text/css" href="../../src/core/base.css" />
    <link rel="stylesheet" type="text/css" href="../../src/partial/arrow.css" />

</head>
<body>

    <script type="text/javascript" src="../../assets/doc.js"></script>
    <style>
        .doc-box {
            position: relative;
            border: 1px solid #FF9800;
            overflow: visible;
        }
    </style>

    <aside class="doc-demo">
        <div class="doc-box">
            <i class="x-arrow x-arrow-top"></i>
        </div>
    </aside>

    <aside class="doc-demo">
        <div class="doc-box">
            <i class="x-arrow x-arrow-bottom"></i>
        </div>
    </aside>

    <aside class="doc-demo">
        <div class="doc-box">
            <i class="x-arrow x-arrow-left"></i>
        </div>
    </aside>

    <aside class="doc-demo">
        <div class="doc-box">
            <i class="x-arrow x-arrow-right"></i>
        </div>
    </aside>

</body>
</html>