<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="module-info" content="group=arrow, compact=IE6+">
    <title>箭头(基于文本实现)</title>

    <link rel="stylesheet" type="text/css" href="../../src/core/base.css" />
    <link rel="stylesheet" type="text/css" href="../../src/partial/arrow-text.css" />

</head>
<body>

    <script type="text/javascript" src="../../assets/doc.js"></script>
    <style>
        .x-arrow {
            position: relative;
        }
    </style>

    <aside class="doc-demo">

        <span class="x-arrow x-arrow-top">
            <span class="x-arrow-fore">◆</span>
            <span class="x-arrow-back">◆</span>
        </span>

    </aside>

    <aside class="doc-demo">

        <span class="x-arrow x-arrow-bottom">
            <span class="x-arrow-fore">◆</span>
            <span class="x-arrow-back">◆</span>
        </span>

    </aside>

    <aside class="doc-demo">

        <span class="x-arrow x-arrow-left">
            <span class="x-arrow-fore">◆</span>
            <span class="x-arrow-back">◆</span>
        </span>

    </aside>

    <aside class="doc-demo">

        <span class="x-arrow x-arrow-right">
            <span class="x-arrow-fore">◆</span>
            <span class="x-arrow-back">◆</span>
        </span>

    </aside>

</body>
</html>