<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="module-info" content="index=4, group=closeButton">
    <title>关闭按钮(基于文本实现)</title>
    <link rel="stylesheet" type="text/css" href="../../src/core/base.css" />
    <link rel="stylesheet" type="text/css" href="../../src/partial/closeButton-text.css" />
</head>
<body>
    <script type="text/javascript" src="../../assets/doc.js"></script>
    <aside class="doc-demo">
        <a class="x-closebutton">×</a>
        往右看 →_→
    </aside>
    
    <aside class="doc-demo">
        <a class="x-closebutton x-closebutton-spin">×</a>
        往右看 →_→
    </aside>
</body>
</html>
