<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>图标</title>
    <meta name="module-info" content="order=^, parent-title=小部件, parent-order=typography, package=default, group=icon">
    <meta name="author" content="xuld@vip.qq.com">
    <meta name="description" content="手风琴即多个面板的组合，同时只有一个面板是展开状态。">

    <!-- 以下是本组件的全部源码 -->
    <link rel="stylesheet" type="text/css" href="../../src/core/base.css" />
    <link rel="stylesheet" type="text/css" href="../../src/partial/icon.css" />
    <!-- 添加此 class 可以实现通过 class 定义图标 -->
    <link rel="stylesheet" type="text/css" href="../../src/partial/iconEx.css" />
</head>
<body>
    <!-- 以下代码仅用于文档演示 -->
    <script type="text/javascript" src="../../assets/doc.js"></script>
    <style>
        #list li {
            width: 240px;
            float: left;
            list-style: none;
            line-height: 24px;
        }
    </style>

    <blockquote>本组件提供图标。图标由 <a target="_blank" href="http://icomoon.io/app/">IcoMoon</a> 提供，原理上使用字体实现。</blockquote>
    
    <script>
        if (!document.styleSheets || !document.styleSheets[0] || !document.styleSheets[0].cssRules) {
            document.write('<blockquote class="doc-warning">由于安全限制，目前无法列出所有可用图标，请改用 http 协议打开本页面。</blockquote>');
        }
    </script>

    <aside class="doc-demo">
        <a href="###"><i class="x-icon">&#61446;</i>你好</a>
        <a href="###"><i class="x-icon x-icon-spin">&#61712;</i>你好</a>
    </aside>

    <script>
        document.write('<ul id="list" class="doc-clear">');
        document.write('<li><i class="x-icon">　</i>empty:<code>&amp;#' + '　'.charCodeAt(0) + ';</code></li>');

        for (var i = 0; i < document.styleSheets.length; i++) {
            if (/iconex/i.test(document.styleSheets[i].href)) {
                var iconex = document.styleSheets[i];
                for (var j = 0; j < iconex.cssRules.length; j++) {
                    iconex.cssRules[j].cssText.replace(/\.x-icon-(.+)::?before\s*\{\n?\s*content:\s*['"]\\?(.+)['"]\s*;\s*\}/g, function (all, name, unicode) {
                        unicode = parseInt(unicode, 16) || unicode.charCodeAt(0);
                        document.write('<li><i class="x-icon">' + String.fromCharCode(unicode) + '</i>' + name + ':<code>&amp;#' + unicode + ';</code></li>');
                    });

                }
            }
        }

        document.write('</ul>');
    </script>
</body>
</html>
