<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <meta name="module-info" content="package=default">
    <title>遮罩</title>
    <link rel="stylesheet" type="text/css" href="../../src/core/base.css" />
    <link rel="stylesheet" type="text/css" href="../../src/partial/mask.css" />
</head>
<body>
    <script type="text/javascript" src="../../assets/doc.js"></script>
    <blockquote>遮罩主要用于覆盖用户点击区域，防止用户的误操作。</blockquote>
    <aside class="doc-demo">
        <div class="doc-box doc-yellow doc-box-large">
            <a href="javascript: alert('你一定作弊了...')">遮罩在上面，点不到我...</a>
            <div class="x-mask" style="position: absolute;"></div>
        </div>
    </aside>
</body>
</html>
