<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="module-info" content="status=todo" />
    <title>滚动条</title>

    <link rel="stylesheet" type="text/css" href="../../src/core/base.css" />
    <link rel="stylesheet" type="text/css" href="../../src/partial/scrollbar.css" />

    <script type="text/javascript" src="../../../src/core/core.js"></script>
    <script type="text/javascript" src="../../../src/dom/core.js"></script>
    <script type="text/javascript" src="../../src/core/base.js"></script>
    <script type="text/javascript" src="../../src/partial/scrollbar.js"></script>

</head>
<body>

    <script type="text/javascript" src="../../assets/doc.js"></script>
    <article>
        <aside class="doc-demo"></aside>
    </article>

</body>
</html>