.ui-grid-fluid .ui-col {
  margin-left: 1.632653061%;
}
.ui-grid-fluid .ui-col-1 {
  width: 6.836734693%;
}
.ui-grid-fluid .ui-col-2 {
  width: 15.306122447%;
}
.ui-grid-fluid .ui-col-3 {
  width: 23.775510201000003%;
}
.ui-grid-fluid .ui-col-4 {
  width: 32.244897955%;
}
.ui-grid-fluid .ui-col-5 {
  width: 40.714285708999995%;
}
.ui-grid-fluid .ui-col-6 {
  width: 49.183673463000005%;
}
.ui-grid-fluid .ui-col-7 {
  width: 57.65306121700001%;
}
.ui-grid-fluid .ui-col-8 {
  width: 66.12244897100001%;
}
.ui-grid-fluid .ui-col-9 {
  width: 74.59183672500001%;
}
.ui-grid-fluid .ui-col-10 {
  width: 83.061224479%;
}
.ui-grid-fluid .ui-col-11 {
  width: 91.530612233%;
}
.ui-grid-fluid .ui-col-12 {
  width: 99.99999998700001%;
}
