
@import "../../typography/core/mixins.less";

.x-menu {
    display: inline-block;
    border: 1px solid @border-color;
    border-radius: @border-radius;
    background-color: @background-color;
    min-width: @line-height * 5;
    max-width: @line-height * 12;
    margin: 0;
    padding: @border-radius 0;
    list-style: none;
    .background-clip(padding-box);

    > li {
        > a {
            display: block;
            color: @text-color;
            padding: @padding-y / 2 @padding-x;
            position: relative;
        }
    }

    &.x-dropdown, .x-menu {
        display: none;
    }
}

.x-menu-divider {
    height: 1px;
    background-color: @border-color;
    overflow: hidden;
    margin: @border-radius 0;
}

.x-menu-selected > a, .x-menu > li > a:hover {
    background-color: @selected-background-color;
    color: @selected-text-color;
    text-decoration: none;
}

.x-menu-arrow a:after {
    content: '\25b8';
    font-family: IcoMoon;
    position: absolute;
    right: 8px;
    top: 50%;
    margin-top: -12px;
}

.x-menu-disabled a {
    pointer-events: none;
    color: @text-color-disabled!important;
    background-color: transparent!important;
}