@import "configs";

.x-close {
    @include reset-button();
    float: right;
    margin: (1rem * $line-height - 1rem) / 2 0;
    width: 1rem;
    border-radius: 50%;
    color: $text-color-light;
    font-size: 1rem;
    line-height: 1rem;

    &:hover, &:focus {
        background-color: $error-text-color;
        color: $selected-text-color;
        transition: background-color $duration;
    }
}
