<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Xuld.XFly.Plugins.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Xuld.XFly.Plugins.Settings>
            <setting name="NodeExe" serializeAs="String">
                <value>../node/node.exe</value>
            </setting>
            <setting name="StartJs" serializeAs="String">
                <value>../server/start.js</value>
            </setting>
            <setting name="Directory" serializeAs="String">
                <value>../node/</value>
            </setting>
            <setting name="DefaultBrowser" serializeAs="String">
                <value />
            </setting>
        </Xuld.XFly.Plugins.Settings>
    </applicationSettings>
</configuration>