/**
 * @author xuld
 */

@import "../core/mixins.less";

.x-dropdown {
    position: absolute;
    z-index: @z-index-dropdown;
    max-height: @line-height * 20;
    background-color: @background-color;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
	display: none;
}
