
//--------------------------------
// 表单标签修复
//--------------------------------

// 
//button, select {
//    // Firefox Android：修复默认背景图片。
//    // 参考 https://github.com/necolas/normalize.css/issues/214
//    // 但这会影响按钮默认样式，因此删除此修复。
//    background-image: none;
//    // Firefox, IE 8/9/10/11, Opera：修复 button 继承 text-transform 属/性。
//    // Firefox：修复 select 继承 text-transform 属性。
//    // 由于应用场景不高，因此删除此修复。
//    text-transform: none;
//}

input, button, select, textarea, optgroup {
    // 禁止表单元素单独指定字体。
    font: inherit;
    // 统一各浏览器默认边距。
    margin: 0;
}

// 避免 Android 4.0.* WebKit 按钮点击销毁  `audio` 和 `video` 控件。
// 确保 IOS input 样式可修改。
button, html input[type=button], input[type=reset], input[type=submit] {
    -moz-appearance: button;
    -webkit-appearance: button;
    appearance: button;
}

// Firefox 4+：删除表单元素默认 2px 边距。
button::-moz-focus-inner, input::-moz-focus-inner {
    padding: 0;
    border: 0;
}

// 重置输入框对齐高度。
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
    margin-top: 1px \9; // IE8-9
    vertical-align: -2px;
}

textarea {
    overflow: auto; // IE 6-9：删除默认滚动条。
    vertical-align: top; // 改进文本框对齐方式。
}

// 设置全局占位符颜色。
.placeholder();
