
//--------------------------------
// 不常用标签重置
//--------------------------------

// IE 8/9, Safari：设置默认边距。
figure {
    margin: 1em 40px;
}

// IE 8-11、Safari、Chrome: 添加下划线。
abbr[title] {
    border-bottom: 1px dotted;
}

// 统一为非斜体。
address, cite, dfn {
    font-style: normal;
}

// IE 8/9: 添加 mark 标签样式。
mark {
    background: #ff0;
    color: #000;
}
