<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<meta name="dpl-info" content="status=ok">
		<title>绝对定位网页结构</title>
		
		<link rel="stylesheet" type="text/css" href="../../../src/ui/core/base.css" />
		<link rel="stylesheet" type="text/css" href="../../../src/ui/core/scaffolding-absolute.css" />
		
		<script type="text/javascript" src="../../../apps/demo/demo.js"></script>
	</head>
	<body>

        <article class="demo">

            <p class="demo">本组件可以支持使用绝对布局的方式书写网页。</p>

            <script class="demo" type="code/html">
           <!DOCTYPE html>
            <html>
            <head>
                <meta charset="UTF-8">
                <title></title>
            </head>
            <body>
                <section id="topbar">
                    <nav class="x-container"></nav>
                </section>
                <section id="main" class="x-container">
                    <header id="header"></header>
                    <article id="body"></article>
                    <footer id="footer"></footer>
                </section>
            </body>
            </html>
            </script>
        </article>
	</body>
</html>