.x-tagchooser {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  color: #23589a;
  vertical-align: middle;
  line-height: 18px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  text-decoration: none;
}
.x-tagchooser-selected,
.x-tagchooser:hover {
  background-color: #3079d5;
  background-position: 8px -23px;
  color: #FFFFFF;
  text-decoration: none;
}
