<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>箭头</title>
    <meta name="module-info" content="group=arrow">
    <meta name="author" content="xuld@vip.qq.com">
    <meta name="description" content="箭头。">

    <!-- 以下是本组件的全部源码 -->
    <link rel="stylesheet" type="text/css" href="../../src/core/base.css" />
    <link rel="stylesheet" type="text/css" href="../../src/partial/arrow.css" />

</head>
<body>
    <!-- 以下代码仅用于文档演示 -->
    <script type="text/javascript" src="../../assets/doc.js"></script>

    <style>
        .doc-box {
            position: relative;
            border: 1px solid #FF9800;
            overflow: visible;
        }
    </style>

    <h2>上</h2>
    <aside class="doc-demo">
        <div class="doc-box">
            <i class="x-arrow x-arrow-top"></i>
        </div>
    </aside>

    <h2>下</h2>
    <aside class="doc-demo">
        <div class="doc-box">
            <i class="x-arrow x-arrow-bottom"></i>
        </div>
    </aside>

    <h2>左</h2>
    <aside class="doc-demo">
        <div class="doc-box">
            <i class="x-arrow x-arrow-left"></i>
        </div>
    </aside>

    <h2>右</h2>
    <aside class="doc-demo">
        <div class="doc-box">
            <i class="x-arrow x-arrow-right"></i>
        </div>
    </aside>
</body>
</html>