@import "../core/mixins.less";

.x-arrow {
    display: block;
    position: absolute;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    height: 0;
    width: 0;
    font: 0;
    border: 8px solid transparent;
}

.x-arrow-top, .x-arrow-bottom {
    left: 50%;
    margin-left: -8px;
}

.x-arrow-top {
    border-bottom-color: inherit;
    top: -16px;
}

.x-arrow-bottom {
    border-top-color: inherit;
    bottom: -16px;
}

.x-arrow-left, .x-arrow-right {
    top: 50%;
    margin-top: -8px;
}

.x-arrow-left {
    border-right-color: inherit;
    left: -16px;
}

.x-arrow-right {
    border-left-color: inherit;
    right: -16px;
}
