@import "../core/mixins.less";

@arrow-width:               8px;
@arrow-border-color:        inherit;
@arrow-background-color:    @background-color;

.x-arrow {
    &:before, &:after {
        content: "";
        display: block;
        position: absolute;
        width: 0;
        height: 0;
        font: 0;
        border: @arrow-width solid transparent;
        z-index: 1;
    }
}

.x-arrow-top, .x-arrow-bottom {
    &:before, &:after {
        left: 50%;
        margin-left: -@arrow-width;
    }
}

.x-arrow-top {
    &:before {
        border-bottom-color: @arrow-border-color;
        top: -@arrow-width * 2;
    }
    &:after {
        border-bottom-color: @arrow-background-color;
        top: -@arrow-width * 2 + 1;
    }
}

.x-arrow-bottom {
    &:before {
        border-top-color: @arrow-border-color;
        bottom: -@arrow-width * 2;
    }
    &:after {
        border-top-color: @arrow-background-color;
        bottom: -@arrow-width * 2 + 1;
    }
}

.x-arrow-left, .x-arrow-right {
    &:before, &:after {
        top: 50%;
        margin-top: -@arrow-width;
    }
}

.x-arrow-left {
    &:before {
        border-right-color: @arrow-border-color;
        left: -@arrow-width * 2;
    }
    &:after {
        border-right-color: @arrow-background-color;
        left: -@arrow-width * 2 + 1;
    }
}

.x-arrow-right {
    &:before {
        border-left-color: @arrow-border-color;
        right: -@arrow-width * 2;
    }
    &:after {
        border-left-color: @arrow-background-color;
        right: -@arrow-width * 2 + 1;
    }
}
