.x-arrow:before,
.x-arrow:after {
  content: "";
  display: block;
  position: absolute;
  width: 0;
  height: 0;
  font: 0;
  border: 8px solid transparent;
  z-index: 1;
}
.x-arrow-top:before,
.x-arrow-bottom:before,
.x-arrow-top:after,
.x-arrow-bottom:after {
  left: 50%;
  margin-left: -8px;
}
.x-arrow-top:before {
  border-bottom-color: inherit;
  top: -16px;
}
.x-arrow-top:after {
  border-bottom-color: #ffffff;
  top: -15px;
}
.x-arrow-bottom:before {
  border-top-color: inherit;
  bottom: -16px;
}
.x-arrow-bottom:after {
  border-top-color: #ffffff;
  bottom: -15px;
}
.x-arrow-left:before,
.x-arrow-right:before,
.x-arrow-left:after,
.x-arrow-right:after {
  top: 50%;
  margin-top: -8px;
}
.x-arrow-left:before {
  border-right-color: inherit;
  left: -16px;
}
.x-arrow-left:after {
  border-right-color: #ffffff;
  left: -15px;
}
.x-arrow-right:before {
  border-left-color: inherit;
  right: -16px;
}
.x-arrow-right:after {
  border-left-color: #ffffff;
  right: -15px;
}
