
@import "../core/mixins.less";

.x-closebutton {
    font-family: Helvetica, Arial;
    display: block;
    color: inherit;
    margin: @box-padding-y + 1px 0 @box-padding-y + 1px 1em;
    width: @font-size;
    height: @font-size;
    font-size: @font-size + 2px;
    font-weight: 100;
    text-align: center;
    line-height: @font-size;
    cursor: pointer;
    float: right;
    border-radius: 50%;

    &:hover {
        background-color: @error-text-color;
        color: @selected-text-color;
        text-decoration: none;
        .transition(background-color .3s);
    }
}
