.x-closebutton {
  color: #212121;
  opacity: .6;
  line-height: 24px;
  margin-left: 1em;
  cursor: pointer;
  float: right;
  font-size: 1.5em;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  -o-transition: -o-transform 0.3s, opacity 0.3s;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  transition: transform .3s, opacity .3s;
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  -webkit-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.x-closebutton:hover {
  opacity: .3;
  text-decoration: none;
  -moz-transform: rotate(0);
  -ms-transform: rotate(0);
  -o-transform: rotate(0);
  -webkit-transform: rotate(0);
  transform: rotate(0);
}
.x-closebutton:before {
  content: '\2716';
}
