
@import "../core/mixins.less";

.x-closebutton {
    color: @text-color;
    .opacity(.6);
    line-height: @line-height;
    margin-right: 0;
    margin-left: 1em;
    cursor: pointer;
    float: right;
    .transition(opacity .3s);

    &:hover {
        .opacity(.3);
        text-decoration: none;
    }

}
