@font-face {
    font-family: 'IcoMoon';
    src: url('fonts/IcoMoon.eot?bsm86n');
    src: url('fonts/IcoMoon.eot?#iefixbsm86n') format('embedded-opentype'), url('fonts/IcoMoon.woff?bsm86n') format('woff'), url('fonts/IcoMoon.ttf?bsm86n') format('truetype'), url('fonts/IcoMoon.svg?bsm86n#IcoMoon') format('svg');
    font-weight: normal;
    font-style: normal;
}

.x-icon {
    display: inline-block;
    font-family: 'IcoMoon';
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    // ¼ÓËÙäÖÈ¾
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    margin-right: .3em;
    vertical-align: -1.2px;
    line-height: 100%;

    &:last-child {
        margin-left: .3em;
    }
}

// Ðý×ª

@-moz-keyframes icon-spin {
    0% {
        -moz-transform: rotate(0deg);
    }

    100% {
        -moz-transform: rotate(359deg);
    }
}

@-webkit-keyframes icon-spin {
    0% {
        -webkit-transform: rotate(0deg);
    }

    100% {
        -webkit-transform: rotate(359deg);
    }
}

@keyframes icon-spin {
    0% {
        -moz-transform: rotate(0);
        -ms-transform: rotate(0);
        -o-transform: rotate(0);
        -webkit-transform: rotate(0);
        transform: rotate(0);
    }

    100% {
        -moz-transform: rotate(359deg);
        -ms-transform: rotate(359deg);
        -o-transform: rotate(359deg);
        -webkit-transform: rotate(359deg);
        transform: rotate(359deg);
    }
}

.x-icon-spin {
    -moz-animation: 2s linear 0s normal none infinite running icon-spin;
    -o-animation: 2s linear 0s normal none infinite running icon-spin;
    -webkit-animation: 2s linear 0s normal none infinite running icon-spin;
    animation: 2s linear 0s normal none infinite running icon-spin;
}
