<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>图标</title>
    <meta name="module-info" content="order=^, parent-title=小部件, parent-order=typography, package=default, group=icon">
    <meta name="author" content="xuld@vip.qq.com">
    <meta name="description" content="本组件提供图标。">

    <!-- 以下是本组件的全部源码 -->
    <link rel="stylesheet" type="text/css" href="../../src/core/base.css" />
    <link rel="stylesheet" type="text/css" href="../../src/partial/spin.css" />
    <link rel="stylesheet" type="text/css" href="../../src/partial/icon.css" />
    <!-- 添加此 class 可以实现通过 class 定义图标 -->
    <link rel="stylesheet" type="text/css" href="../../src/partial/iconEx.css" />
</head>
<body>
    <!-- 以下代码仅用于文档演示 -->
    <script type="text/javascript" src="../../assets/doc.js"></script>
    <style>
        #list li {
            width: 240px;
            float: left;
            list-style: none;
            line-height: 24px;
        }

        #list li .x-icon {
            width: 1.2em;
            text-align: right;
            margin-right: .35em;
        }
    </style>

    <blockquote class="doc-info">所有图标由 <a target="_blank" href="http://icomoon.io/app/">IcoMoon</a> 提供，原理上使用字体实现。</blockquote>
    
    <h2>基本用法</h2>
    <aside class="doc-demo">
        <a href="###"><i class="x-icon">&#9733;</i>你好</a>
    </aside>
    
    <p>链接内图标包含 0.3em 右边距，避免图标右边出现空格。</p>
    
    <h2>加载图标</h2>
    <p>结合 <a href="spin.html">旋转效果(spin)</a> 组件，可以实现旋转的组件效果。</p>
    <aside class="doc-demo">
        <i class="x-icon x-spin">&#1161;</i>正在加载...<br />
        <i class="x-icon x-spin">&#8634;</i>正在加载...<br />
    </aside>

    <h2>所有图标</h2>
    <script>

        var html = '<ul id="list" class="doc-clear">';

        html += '<li><i class="x-icon">　</i>empty:<code>&amp;#' + '　'.charCodeAt(0) + ';</code></li>';

        try {

            for (var i = 0; i < document.styleSheets.length; i++) {
                if (/iconex/i.test(document.styleSheets[i].href)) {
                    var iconex = document.styleSheets[i];
                    for (var j = 0; j < iconex.cssRules.length; j++) {
                        iconex.cssRules[j].cssText.replace(/\.x-icon-(.+):before\s*\{\n?\s*content:\s*['"]\\?(.+)['"]\s*;\s*\}/g, function (all, name, unicode) {
                            html += '<li><i class="x-icon">' + unicode + '</i>' + name + ':<code>&amp;#' + unicode.charCodeAt(0) + ';</code></li>';
                        });
                    }
                }
            }

            html += '</ul>';
        } catch (e) {
            html = '<blockquote class="doc-warning">由于安全限制，目前无法列出所有可用图标，请改用 http 协议打开本页面。</blockquote>';
        }

        document.write(html);
    </script>
</body>
</html>
