<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>旋转效果</title>
    <meta name="module-info" content="status=doing, ">
    <meta name="author" content="xuld@vip.qq.com">
    <meta name="description" content="实现旋转效果。">

    <!-- 以下是本组件的全部源码 -->
    <link rel="stylesheet" type="text/css" href="../../src/core/base.css" />
    <link rel="stylesheet" type="text/css" href="../../src/partial/spin.css" />
</head>
<body>
    <!-- 以下代码仅用于文档演示 -->
    <script type="text/javascript" src="../../assets/doc.js"></script>

    <h2>旋转文字</h2>
    <aside class="doc-demo">
        <div class="x-spin">A</div>
    </aside>
    
    <h2>旋转图片</h2>
    <aside class="doc-demo">
        <img class="x-spin" src="data:text/plain;base64,R0lGODdhZABkAOMAAMzMzJaWlrGxsaOjo8XFxb6+vre3t5ycnKqqqgAAAAAAAAAAAAAAAAAAAAAAAAAAACwAAAAAZABkAAAE/hDISau9OOvNu/9gKI5kaZ5oqq5s675wLM90bd94ru987//AoHBILBqPyKRyyWw6n9CodEqtWq/YrHbL7Xq/4LB4TC6bz+i0es1uu99wqyAwKRwOBIkd35nX73kAe4FGAwN0EgcCCAiJi40bhogAioyOlkcEBYgEAQQGBwCdn6ETAZ6nE5qcnqCiraVHm3p0s7aTogcDfHWIt4K1uEWzwMW/FAYBBhXEv8eyrJqho3YVCAGQvRLU057VSMmBlZDjFJ3hyJ6X5I9Jp76AevGmAwCHFO/yvINx/f7/AAMKHEiwoMGDCBMqXMiwocOHECNKnEixosWLGDNq3Mixo8ePBiBDirwQAQA7" />
    </aside>

</body>
</html>
