
@import "../core/mixins.less";

.x-buttongroup {
    display: inline-table;
    * {
        display: table-cell;
        border-right: 0;

        &:not(:first-child) {
            border-left-color: darken(@button-border-color, 6%);
        }
    }
    &.x-fill {
        display: table!important;
    }
}

.generateButtonGroupColumns(@index: 1, @count: 6) when (@index =< @count) {
    .x-buttongroup-@{index} > .x-button {
        width: 100% / @index;
    }

    .generateButtonGroupColumns((@index + 1), @count);
}

.generateButtonGroupColumns();
