.x-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: none;
  text-align: center;
  display: inline-block;
  white-space: nowrap;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  padding: 4px 1.25em;
  background-color: #e6e6e6;
  border: 1px solid #e6e6e6;
  color: #212121;
  outline: 0;
  -moz-transition: background-color 300ms ease-out, border-color 300ms ease-out;
  -o-transition: background-color 300ms ease-out, border-color 300ms ease-out;
  -webkit-transition: background-color 300ms ease-out, border-color 300ms ease-out;
  transition: background-color 300ms ease-out, border-color 300ms ease-out;
}
.x-button:focus {
  background-color: #dcdcdc;
}
.x-button:hover,
.x-button:active {
  background-color: #c7c7c7;
  border-color: #c7c7c7;
  text-decoration: none;
}
.x-button .x-icon:last-child {
  width: 0.8em;
}
.x-button:active,
.x-button-actived {
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.15);
}
.x-button[disabled],
.x-button-disabled {
  pointer-events: none;
  border-color: transparent;
  opacity: 0.5;
  box-shadow: none;
  cursor: not-allowed;
}
.x-button-info {
  color: #ffffff;
  background-color: #049cdb;
  border-color: #049cdb;
}
.x-button-info:hover,
.x-button-info:focus {
  background-color: #03719f;
  border-color: #03719f;
}
.x-button-success {
  color: #ffffff;
  background-color: #5eb95e;
  border-color: #5eb95e;
}
.x-button-success:hover,
.x-button-success:focus {
  background-color: #429842;
  border-color: #429842;
}
.x-button-warning {
  color: #ffffff;
  background-color: #e9985e;
  border-color: #e9985e;
}
.x-button-warning:hover,
.x-button-warning:focus {
  background-color: #e27628;
  border-color: #e27628;
}
.x-button-error {
  color: #ffffff;
  background-color: #dd514c;
  border-color: #dd514c;
}
.x-button-error:hover,
.x-button-error:focus {
  background-color: #c62b26;
  border-color: #c62b26;
}
.x-button-small {
  padding: 0 .4em;
}
