
@import "../core/mixins.less";

.x-button {
    -moz-appearance: none;
    -webkit-appearance: none;
    background-image: none;
    text-align: center;
    display: inline-block;
    white-space: nowrap;
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-user-select: none;
    user-select: none;
    padding: @base-box-padding-y @base-font-size;
    background-color: #eee;
    border: 1px solid #eee;
    color: @text-color;
    outline: 0; // Webkit: 删除默认边距。
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;

    -moz-transition: background-color 300ms ease-out, border-color 300ms ease-out;
    -o-transition: background-color 300ms ease-out, border-color 300ms ease-out;
    -webkit-transition: background-color 300ms ease-out, border-color 300ms ease-out;
    transition: background-color 300ms ease-out, border-color 300ms ease-out;

    &:focus {
        background-color: darken(#eee, 4%);
    }

    &:hover, &:active {
        background-color: darken(#eee, 12%);
        border-color: darken(#eee, 12%);
        text-decoration: none;
    }

    &:active, &.x-actived {
        box-shadow: inset 0 1px 10px rgba(0, 0, 0, .15);
    }

    &[disabled], &.x-disabled {
        pointer-events: none; // 禁止事件，参考 https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events
        border-color: transparent;
        opacity: 0.5;
        box-shadow: none;
        cursor: not-allowed; // 由于 pointer-events: none 可能不生效
    }
    
    // 色系

    .button-state(@color) {
        color: @background-color;
        background-color: @color;
        border-color: @color;

        &:hover, &:focus {
            background-color: darken(@color, 12%);
            border-color: darken(@color, 12%);
        }
    }

    &.x-info {
        .button-state(@info-text-color);
    }

    &.x-success {
        .button-state(@success-text-color);
    }

    &.x-warning {
        .button-state(@warning-text-color);
    }

    &.x-error {
        .button-state(@error-text-color);
    }
    
    // 尺寸
    &.x-small {
        padding: 0 @base-font-size * .4;
    }

}
