
@import "../core/mixins.less";

.x-buttongroup {
    display: inline-block;
    .clearfix();
    .x-button {
        float: left;
        &:not(:first-child) {
            border-left-color: darken(@border-color, 3%);
            margin-left: -1px;
        }
    }
}
.generateButtonGroupColumns(@index: 1, @count: 6) when (@index =< @count) {
    .x-buttongroup-@{index} > .x-button {
        width: 100% / @index;
    }
    .generateButtonGroupColumns((@index + 1), @count);
}

.generateButtonGroupColumns();
