.x-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: none;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #212121;
  outline: 0;
  padding: 4px 14px;
  background-color: #eeeeee;
  border: 1px solid #eeeeee;
  -moz-transition: background-color 300ms ease-out, border-color 300ms ease-out;
  -o-transition: background-color 300ms ease-out, border-color 300ms ease-out;
  -webkit-transition: background-color 300ms ease-out, border-color 300ms ease-out;
  transition: background-color 300ms ease-out, border-color 300ms ease-out;
}
.x-button:hover,
.x-button:focus {
  background-color: #e1e1e1;
  text-decoration: none;
}
.x-button:active,
.x-button.x-actived {
  background-color: #cfcfcf;
  border-color: #cfcfcf;
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.15);
}
.x-button[disabled],
.x-button.x-disabled {
  pointer-events: none;
  border-color: transparent;
  opacity: .5;
  box-shadow: none;
  cursor: not-allowed;
}
.x-button.x-info {
  color: #ffffff;
  background-color: #049cdb;
  border-color: #049cdb;
}
.x-button.x-info:hover,
.x-button.x-info:focus {
  background-color: #03719f;
  border-color: #03719f;
}
.x-button.x-success {
  color: #ffffff;
  background-color: #5eb95e;
  border-color: #5eb95e;
}
.x-button.x-success:hover,
.x-button.x-success:focus {
  background-color: #429842;
  border-color: #429842;
}
.x-button.x-warning {
  color: #ffffff;
  background-color: #e9985e;
  border-color: #e9985e;
}
.x-button.x-warning:hover,
.x-button.x-warning:focus {
  background-color: #e27628;
  border-color: #e27628;
}
.x-button.x-error {
  color: #ffffff;
  background-color: #dd514c;
  border-color: #dd514c;
}
.x-button.x-error:hover,
.x-button.x-error:focus {
  background-color: #c62b26;
  border-color: #c62b26;
}
.x-button.x-plain {
  background: transparent;
}
.x-button.x-small {
  padding: 0 5.6px;
  border: 0;
}
