
@import "../core/mixins.less";

.x-checkbox {
    position: absolute;
    visibility: hidden;

    & + .x-icon, & + .x-icon + .x-icon {
        color: @link-text-color;
    }
    
    &[disabled] + .x-icon, &[disabled] + .x-icon + .x-icon, &[readonly] + .x-icon, &[readonly] + .x-icon + .x-icon {
        color: @hint-color;
    }

    &:checked + .x-icon, &:not(:checked) + .x-icon + .x-icon {
        display: none;
    }

}
