
@import "../core/mixins.less";

.x-colorpicker-demo {
    position: absolute;
    left: @box-padding-x;
    top: (@box-padding-y + @base-line-height) / 2 - (@base-font-size - 2) / 4;
    width: @base-font-size - 2px ;
    height: @base-font-size - 2px ;
}

.x-colorpicker-demo + .x-textbox {
    padding-left: @box-padding-x * 2 + @base-font-size - 6px;
}
