
@import "../core/mixins.less";

.x-combobox {
    background-color: @background-color;
    padding-left: @base-box-padding-x;
    padding-right: @base-box-padding-x;

    .x-icon:last-child {
        margin-left: @base-box-padding-x / 2;
    }
}
