.x-fieldset {
  min-width: 0;
  padding: 0;
  margin: 0;
  border: 0;
}
.x-fieldset legend {
  border: 0;
  display: block;
  width: 100%;
  padding: 0;
  margin-bottom: 0.5em;
  font-size: 18px;
  line-height: 1.5;
  color: #757575;
  border-bottom: 1px solid #e0e0e0;
}
