.x-form .x-col:first-child,
.x-form .x-col ~ .x-col {
  line-height: 34px;
}
.x-form .x-textbox {
  line-height: 24px;
  width: 100%;
}
.x-form .x-col ~ .x-col {
  padding-left: 14px;
  padding-right: 0;
}
.x-form-horizontal .x-col:first-child {
  text-align: right;
}
@media (max-width: 640px) {
  .x-form-horizontal .x-col {
    width: 100% !important;
  }
  .x-form-horizontal .x-col:first-child {
    text-align: left;
    margin-bottom: 0;
  }
}
.x-form-required {
  color: #a94442;
}
