.x-formfield {
  margin-bottom: .5em;
}
.x-formfield:after {
  content: " ";
  display: table;
  clear: both;
}
.x-form-horizontal .x-formfield-label {
  width: 112px;
  float: left;
  text-align: right;
  margin-right: 7px;
  padding: 5px 0;
}
.x-form-horizontal .x-formfield-content {
  margin-left: 119px;
}
