@import "../core/mixins.less";


@formFieldWidth: @font-size * 8;

.x-formfield {
    .clearfix();
    margin-bottom: .5em;
}

.x-form-horizontal {

    .x-formfield-label {
        width: @formFieldWidth;
        float: left;
        text-align: right;
        margin-right: @font-size / 2;
        padding: @padding-y + 1px 0;
    }

    .x-formfield-content {
        margin-left: @formFieldWidth + @font-size / 2;
    }
}

.x-formfield-required {
    color: @error-text-color;
}