
@import "../core/mixins.less";

.x-listbox {
    display: inline-block;
    background-color: @background-color;
    border: 1px solid @border-color;
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: auto;
    max-height: @line-height * 10;

    a {
        display: block;
        color: @text-color;
        padding: @box-padding-y / 2 @box-padding-x;

        &:hover {
            background-color: @hover-background-color;
            text-decoration: none;
        }
    }
}

.x-listbox-selected a {
    background-color: @selected-background-color!important;
    color: @selected-text-color;
    .transition(background-color .1s);
}

.x-listbox-readonly, .x-listbox-disabled {
    background-color: @header-background-color!important;
}
