.x-listbox {
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  margin: 0;
  padding: 0;
  list-style: none;
  overflow: auto;
  max-height: 240px;
}
.x-listbox a {
  display: block;
  color: #212121;
  padding: 2px 8px;
}
.x-listbox a:hover {
  background-color: #f5f5f5;
  text-decoration: none;
}
.x-listbox-selected a {
  background-color: #337ab7 !important;
  color: #ffffff;
  -moz-transition: background-color 0.1s;
  -o-transition: background-color 0.1s;
  -webkit-transition: background-color 0.1s;
  transition: background-color 0.1s;
}
.x-listbox-readonly,
.x-listbox-disabled {
  background-color: #f7f7f7 !important;
}
