.x-listbox {
  display: inline-block;
  margin: 0;
  padding: 0;
  background-color: #ffffff;
  border: 1px solid #cccccc;
  overflow: auto;
  max-height: 240px;
}
.x-listbox > li {
  list-style: none;
}
.x-listbox > li > a {
  display: block;
  color: #212121;
  padding: 2px 8px;
}
.x-listbox > li > a:hover {
  background-color: #f5f5f5;
  text-decoration: none;
}
.x-listbox > li.x-selected > a {
  background-color: #e8e8e8;
}
.x-listbox.x-readonly,
.x-listbox.x-disabled {
  background-color: #f5f5f5;
}
