.x-picker {
  display: inline-table;
}
.x-picker > * {
  display: table-cell;
}
.x-picker > .x-button {
  border-color: #ccc;
  width: 38px;
}
.x-picker .x-textbox ~ .x-button,
.x-picker .x-button ~ .x-textbox {
  border-left: 0;
}
