
@import "../core/mixins.less";

.x-picker {
    display: inline-table;
    
    > * {
        display: table-cell;
    }
    
    > .x-button {
        border-color: #ccc;
        width: @base-font-size * 3 - @base-box-padding-y;
    }

    .x-textbox ~ .x-button, .x-button ~.x-textbox {
        border-left: 0;
    }
}
