.x-picker {
  position: relative;
  display: inline-block;
}
.x-picker .x-textbox {
  padding-right: 32px;
}
.x-picker .x-textbox:focus + .x-button:not(.x-success):not(.x-warning):not(.x-error):hover {
  border-color: rgba(82, 168, 236, 0.8);
}
.x-picker .x-button {
  position: absolute;
  right: 0;
  top: 0;
  border-color: #cccccc;
  padding-left: 0;
  padding-right: 0;
  width: 30px;
}
.x-picker .x-button:not(:focus):not(:hover):not(:active):not(.x-actived) {
  background-color: transparent;
  border-color: transparent;
}
.x-picker .x-button.x-success:not(:focus):not(:hover):not(:active):not(.x-actived) {
  color: #5eb95e;
}
.x-picker .x-button.x-warning:not(:focus):not(:hover):not(:active):not(.x-actived) {
  color: #e9985e;
}
.x-picker .x-button.x-error:not(:focus):not(:hover):not(:active):not(.x-actived) {
  color: #dd514c;
}
