
@import "../core/mixins.less";

.x-picker {
    position: relative;
    display: inline-block;

    .x-textbox {
        padding-right: @box-padding-x + @line-height + 2px;

        &:focus + .x-button:not(.x-success):not(.x-warning):not(.x-error):hover {
            border-color: rgba(82,168,236,.8);
        }
    }
    
    .x-button {
        position: absolute;
        right: 0;
        top: 0;
        border-color: @textbox-border-color;

        padding-left: 0;
        padding-right: 0;
        width: @box-padding-x + @line-height;

        &:not(:focus):not(:hover):not(:active):not(.x-actived) {
            background-color: transparent;
            border-color: transparent;
        }
        
        .button-state(@color) {
            &:not(:focus):not(:hover):not(:active):not(.x-actived) {
                color: @color;
            }
        }
    
        &.x-success {
            .button-state(@success-text-color);
        }
    
        &.x-warning {
            .button-state(@warning-text-color);
        }

        &.x-error {
            .button-state(@error-text-color);
        }

    }
    
}
