.x-statebox input {
  position: absolute;
  visibility: hidden;
}
.x-statebox input:checked + .x-icon,
.x-statebox input .x-radiobutton-checked + .x-icon,
.x-statebox input:not(:checked) + .x-icon + .x-icon,
.x-statebox input .x-radiobutton-unchecked + .x-icon + .x-icon {
  display: none;
}
.x-statebox input[disabled] ~ .x-icon,
.x-statebox input[readonly] ~ .x-icon {
  color: #bdbdbd;
}
.x-statebox .x-icon {
  color: #095f8b;
}
