.x-tagchooser {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  color: #23589a;
  border-radius: 4px;
}
.x-tagchooser:before {
  content: '✚ ';
}
.x-tagchooser-selected,
.x-tagchooser:hover {
  background-color: #3079d5;
  color: #FFFFFF;
  text-decoration: none;
}
