.x-textbox {
  padding: 4px 8px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  outline: 0;
  width: 196px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  -moz-transition: border linear 0.2s, box-shadow linear 0.2s;
  -o-transition: border linear 0.2s, box-shadow linear 0.2s;
  -webkit-transition: border linear 0.2s, box-shadow linear 0.2s;
  transition: border linear 0.2s, box-shadow linear 0.2s;
}
.x-textbox:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px rgba(174, 214, 246, 0.8);
}
.x-textbox[disabled],
.x-textbox[readonly] {
  box-shadow: none !important;
  background-color: #efefef;
}
textarea.x-textbox {
  width: 588px;
  height: 132px;
}
.x-textbox.x-success {
  border-color: #5eb95e;
}
.x-textbox.x-success:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #a5d8a5;
}
.x-textbox.x-warning {
  border-color: #e9985e;
}
.x-textbox.x-warning:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #f5d1b8;
}
.x-textbox.x-error {
  border-color: #dd514c;
}
.x-textbox.x-error:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #eda4a2;
}
