
@import "../core/mixins.less";

.x-textbox {
    padding: @base-box-padding;
    border: 1px solid @textbox-border-color;
    background-color: @background-color;
    outline: 0;
    width: @base-font-size * 14;

    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    
    -moz-transition: border linear .2s, box-shadow linear .2s;
    -o-transition: border linear .2s, box-shadow linear .2s;
    -webkit-transition: border linear .2s, box-shadow linear .2s;
    transition: border linear .2s, box-shadow linear .2s;

    &:focus {
        border-color: rgba(82,168,236,.8);
        box-shadow: 0 0 6px lighten(rgba(82,168,236,.8), 20%);
    }

    &[disabled], &[readonly] {
        box-shadow: none !important;
        background-color: #efefef;
    }

    textarea& {
        width: @base-font-size * 42;
        height: @base-line-height * 5 + @base-box-padding-y * 2 + 4px;
    }
    
    .textbox-state(@borderColor) {
        & {
            border-color: @borderColor;
        }

        &:focus {
            box-shadow: 0 0 6px lighten(@borderColor, 20%);
        }
    }

    &.x-success {
        .textbox-state(@success-text-color);
    }

    &.x-warning {
        .textbox-state(@warning-text-color);
    }

    &.x-error {
        .textbox-state(@error-text-color);
    }

}
