.x-dialog {
  position: fixed;
  top: 50%;
  left: 50%;
  z-index: 3000;
  min-width: 200px;
  max-width: 400px;
  *width: 400px;
  margin-left: -100px;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  display: none;
}
