@import "configs";

.x-form {
    &-input {
        margin-bottom: $margin-y;
    }

    br {
        line-height: 2rem + $margin-y-small;
    }

    @include screen(large) {
        &-horizontal {
            display: table;

            .x-form-field {
                display: table-row;
            }

            .x-form-label {
                display: table-cell;
                padding-right: $margin-x;
                text-align: right;
                white-space: nowrap;
            }

            .x-form-input + .x-form-label {
                padding-left: $margin-x-large;
            }
        }
    }
}
