code {
  padding: 0 4px;
  color: #1E347B;
  background-color: #f7f7f9;
  border: 1px solid #e1e1e8;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-family: "Courier New", Menlo, Monaco, monospace;
}
pre code {
  padding: 0;
  border: 0;
  background-color: transparent;
  color: inherit;
  font-family: inherit;
}
