html .ui-left {
  float: left;
}
html .ui-right {
  float: right;
}
html .ui-left,
html .ui-right {
  _display: inline;
}
html .ui-middle {
  vertical-align: middle;
}
.ui-center {
  margin-left: auto;
  margin-right: auto;
}
html .ui-relative,
html div.ui-relative {
  position: relative;
}
html .ui-absolute,
html div.ui-absolute {
  position: absolute;
}
html .ui-inline {
  display: inline;
}
html .ui-block {
  display: block;
}
html .ui-inline-block {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
html .ui-hide,
html div.ui-hide {
  display: none;
}
html .ui-plain,
html div.ui-plain {
  margin: 0;
  padding: 0;
}
.ui-break-word {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
}
.ui-clear {
  *zoom: 1;
}
.ui-clear:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
.ui-hint {
  color: #999999;
}
.ui-success {
  color: #468847 !important;
}
.ui-info {
  color: #3a87ad !important;
}
.ui-warning {
  color: #c09853 !important;
}
.ui-error {
  color: #b94a48 !important;
}
.ui-highlight {
  color: #ff6600 !important;
}
html .ui-row {
  margin-bottom: 10px;
}
.ui-blank {
  height: 10px;
  display: block;
  visibility: hidden;
  color: #ffffff;
}
.ui-debug {
  background: #C03!important;
  color: #fff!important;
}
