@import "configs";

$indent: 2.5rem;
$max-indent-level: 5;

.x-navmenu {
    margin: 0;
    padding: 0;
    background-color: $main-background-color;

    &, & ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    a {
        display: block;
        overflow: hidden;
        border-right: 4px solid transparent;
        padding: $margin-y-large / 2 $padding-x + $spacer $margin-y-large / 2 $padding-x;
        color: $text-color-dark;
        text-overflow: ellipsis;
        white-space: nowrap;
        transition: border-color $duration, background-color $duration, color $duration;

        .x-icon {
            line-height: 2rem;
        }

        span {
            display: inline-block;
        }
    }

    a:hover, &-selected > a, &.x-navmenu-collapsed li:hover > a {
        background-color: $secondary-color !important;
        color: $text-color-dark;
        text-decoration: none;
    }

    &-selected:not(&-collapsable) > a {
        border-color: $primary-color;
    }

    > li > a {
        background-color: darken($header-background-color, 3%);
        font-weight: 700;
    }

    ul:empty {
        display: none !important;
    }

    $ul: "ul";
    @for $i from 1 to $max-indent-level {
        $ul: "#{$ul} ul";

        "#{$ul} a" {
            padding-left: $indent * $i;
        }
    }

    &-collapsable {
        > a::before {
            content: "⮞";
            margin-right: -$spacer * 2;
            float: right;
            font-family: x-icon;
            transition: transform $duration;
            transform: rotate(90deg);
        }
    }

    &-collapsed {
        > a::before {
            transform: rotate(0deg);
        }

        > ul {
            display: none;
        }
    }

    &-collapsing > ul {
        display: block;
    }

    &.x-navmenu-collapsed {
        width: 3.5rem;

        > li.x-navmenu-selected > a {
            border-color: $primary-color;
        }

        > li {
            > a::before {
                content: none;
            }

            > a span {
                display: none;
            }

            > ul {
                position: fixed;
                overflow: auto;
                z-index: $z-index-popup;
                display: none;
                width: $dropdown-max-width;
                background-color: $main-background-color;
                border: 1px solid $border-color;
            }
        }
    }

    &.x-navmenu-collapsing, &.x-navmenu-collapsed {
        a {
            text-overflow: clip;
        }
    }
}
