.x-menu {
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  min-width: 120px;
  max-width: 288px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.x-menu > li > a {
  display: block;
  color: #212121;
  padding: 2px 8px;
}
.x-menu > li > a:hover {
  background-color: #337ab7;
  color: #ffffff;
  text-decoration: none;
}
.x-menu hr {
  margin: 0;
}
.x-menu .x-menu {
  display: none;
}
.x-menu-selected a {
  color: #ffffff !important;
  background-color: #337ab7 !important;
}
.x-menu-arrow {
  float: right;
  line-height: 24px;
  padding: 2px 8px;
}
.x-menu-selected .x-menu-arrow {
  color: #ffffff;
}
