.x-tooltip {
  position: absolute;
  z-index: 1010;
  display: none;
  font-size: 0.85714286em;
  line-height: 150%;
  background-color: #212121;
  color: #ffffff;
  padding: 0 4px;
  border-radius: 2px;
  max-width: 210px;
  border: 2px solid #212121;
}
