.x-tooltip {
  position: absolute;
  z-index: 2000;
  display: none;
  font-size: 12px;
  line-height: 1.5;
  background-color: #212121;
  color: #ffffff;
  padding: 0 4px;
  border-radius: 3px;
  max-width: 210px;
  border: 2px solid #212121;
}
.x-tooltip.x-arrow:after {
  content: none;
  display: none;
}
