//================================
// 全局配置和公用样式
//================================

//--------------------------------
// 颜色
//--------------------------------

// 页面

@background-color:          #fff;
@striped-background-color:  #F9F9F9;
@header-background-color:   #F7F7F7;
@hover-background-color:    #f5f5f5;
@selected-background-color: #337AB7;

@border-color:              darken(@background-color, 12%);
@textbox-border-color:      #ccc;

@text-color:                darken(@background-color, 87%);
@tip-text-color:            darken(@background-color, 54%);
@disabled-text-color:       darken(@background-color, 26%);
@small-text-color:          #aaa;
@link-text-color:           #095f8b;
@selected-text-color:       @background-color;

// 状态
@info-text-color:           #31708f;
@info-background-color:     #d9edf7;
@info-border-color:         darken(spin(@info-background-color, -10), 7%);

@success-text-color:        #3c763d;
@success-background-color:  #dff0d8;
@success-border-color:      darken(spin(@success-background-color, -10), 5%);

@warning-text-color:        #8a6d3b;
@warning-background-color:  #fcf8e3;
@warning-border-color:      darken(spin(@warning-background-color, -10), 5%);

@error-text-color:          #a94442;
@error-background-color:    #f2dede;
@error-border-color:        darken(spin(@error-background-color, -10), 5%);

//--------------------------------
// 全局配置
//--------------------------------

// 字体
@font-family:               "Segoe UI Symbol", "Segoe UI", "Lucida Grande", Helvetica, Arial, "Microsoft YaHei", FreeSans, Arimo;
@font-size:                 14px;
@line-height:               @font-size + 10px;
@small-font-size:           1em * (@font-size - 2px) / @font-size;
@menu-font-size:            @font-size - 1px;

// 间距
@border-radius:             4px;
@margin:                    1em;
@padding:                   @font-size / 2;   

@box-padding-y:             (@line-height - @font-size) / 2 - 1px;
@box-padding-x:             @box-padding-y * 2;
@box-padding:               @box-padding-y @box-padding-x;

// Z-index
@z-index-dropdown:          1000;
@z-index-tooltip:           2000;
@z-index-dialog:            3000;

//--------------------------------
// 响应式
//--------------------------------

@screen-smaller:            640px;  // 手机
@screen-small:              1024px; // 平板
@screen-large:              1280px; // 电脑
@screen-larger:             1440px; // 电视
@screen-largest:            1920px; // 高清电视

@small:                     e(%("only screen and (max-width: %d)", @screen-small));
@large:                     e(%("only screen and (min-width: %d)", (@screen-small + 1)));

//--------------------------------
// 工具函数
//--------------------------------

// 清除浮动
// 另参考：http://nicolasgallagher.com/micro-clearfix-hack/
.clearfix() {
    &:after {
        content: " ";
        display: table;
        clear: both;
    }
}

// 提示文案
.placeholder(@color: @small-text-color) {
	&:-moz-placeholder {
		color: @color;
	}
	&:-ms-input-placeholder, &::-webkit-input-placeholder {
		color: @color;
	}
}

// 文本超流
.text-overflow(@text-overflow: ellipsis) {
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: @text-overflow;
}

// 隐藏文本。参考 https://github.com/h5bp/html5-boilerplate/commit/aa0396eae757
.hide-text() {
	font: 0/0 a;
	color: transparent;
    text-shadow: none;
	background-color: transparent;
	border: 0;
}

// Opacity
.opacity(@opacity: 1) {
	opacity: @opacity;
    filter: e(%("alpha(opacity=%d)", @opacity * 100));
}

.transition(@transition: all .3s){
    -moz-transition: @transition;
    -o-transition: @transition;
    -webkit-transition: @transition;
    transition: @transition;
}

.animation(@animation) {
    -moz-animation: @animation;
    -o-animation: @animation;
    -webkit-animation: @animation;
    animation: @animation;
}

.transform(@transform){
    -moz-transform: @transform;
    -ms-transform: @transform;
    -o-transform: @transform;
    -webkit-transform: @transform;
    transform: @transform;
}

.box-sizing(@box-sizing: border-box) {
    -moz-box-sizing: @box-sizing;
    -webkit-box-sizing: @box-sizing;
    box-sizing: @box-sizing;
}

.user-select(@user-select: none) {
    -moz-user-select: @user-select;
    -ms-user-select: @user-select;
    -webkit-user-select: @user-select;
    user-select: @user-select;
}

.flex(){
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex; 
    display: flex;
}

#translucent {
	.background(@color: #fff, @alpha: 1) {
		background-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
	}
	.border(@color: #fff, @alpha: 1) {
		border-color: hsla(hue(@color), saturation(@color), lightness(@color), @alpha);
		-webkit-background-clip: padding-box;
		-moz-background-clip: padding;
		background-clip: padding-box;
	}
}

#gradient {
    
    .striped(@angle: -45deg) {
        background-image: -webkit-gradient(linear, 0 100%, 100% 0, color-stop(.25, rgba(255,255,255,.15)), color-stop(.25, transparent), color-stop(.5, transparent), color-stop(.5, rgba(255,255,255,.15)), color-stop(.75, rgba(255,255,255,.15)), color-stop(.75, transparent), to(transparent));
        background-image: -webkit-linear-gradient(@angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
        background-image: -moz-linear-gradient(@angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%);
        background-image: -o-linear-gradient(@angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
        background-image: linear-gradient(@angle, rgba(255,255,255,.15) 25%, transparent 25%, transparent 50%, rgba(255,255,255,.15) 50%, rgba(255,255,255,.15) 75%, transparent 75%, transparent);
    }

    .horizontal(@startColor: #555, @endColor: #333) {
        background-color: @endColor;
        background-image: -moz-linear-gradient(left, @startColor, @endColor);
        background-image: -webkit-gradient(linear, 0 0, 100% 0, from(@startColor), to(@endColor));
        background-image: -webkit-linear-gradient(left, @startColor, @endColor);
        background-image: -o-linear-gradient(left, @startColor, @endColor);
        background-image: linear-gradient(to right, @startColor, @endColor);
        background-repeat: repeat-x;
        filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=1)",argb(@startColor),argb(@endColor)));
    }

    .vertical(@startColor: #555, @endColor: #333) {
        background-color: @endColor;
        background-image: -moz-linear-gradient(top, @startColor, @endColor);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), to(@endColor));
        background-image: -webkit-linear-gradient(top, @startColor, @endColor);
        background-image: -o-linear-gradient(top, @startColor, @endColor);
        background-image: linear-gradient(to bottom, @startColor, @endColor);
        background-repeat: repeat-x;
    }

	.vertical-all(@startColor: #555, @endColor: #333){
		.vertical(@startColor, @endColor);
        filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@startColor),argb(@endColor)));
	}

    .directional(@startColor: #555, @endColor: #333, @deg: 45deg) {
        background-color: @endColor;
        background-repeat: repeat-x;
        background-image: -moz-linear-gradient(@deg, @startColor, @endColor);
        background-image: -webkit-linear-gradient(@deg, @startColor, @endColor);
        background-image: -o-linear-gradient(@deg, @startColor, @endColor);
        background-image: linear-gradient(@deg, @startColor, @endColor);
    }

    .vertical-three-colors(@startColor: #00b3ee, @midColor: #7a43b6, @colorStop: 50%, @endColor: #c3325f) {
        background-color: mix(@midColor, @endColor, 80%);
        background-image: -webkit-gradient(linear, 0 0, 0 100%, from(@startColor), color-stop(@colorStop, @midColor), to(@endColor));
        background-image: -webkit-linear-gradient(@startColor, @midColor @colorStop, @endColor);
        background-image: -moz-linear-gradient(top, @startColor, @midColor @colorStop, @endColor);
        background-image: -o-linear-gradient(@startColor, @midColor @colorStop, @endColor);
        background-image: linear-gradient(@startColor, @midColor @colorStop, @endColor);
        background-repeat: no-repeat;
        filter: e(%("progid:DXImageTransform.Microsoft.gradient(startColorstr='%d', endColorstr='%d', GradientType=0)",argb(@startColor),argb(@endColor)));
    }

    .radial(@innerColor: #555, @outerColor: #333) {
        background-color: @outerColor;
        background-image: -webkit-gradient(radial, center center, 0, center center, 460, from(@innerColor), to(@outerColor));
        background-image: -webkit-radial-gradient(circle, @innerColor, @outerColor);
        background-image: -moz-radial-gradient(circle, @innerColor, @outerColor);
        background-image: -o-radial-gradient(circle, @innerColor, @outerColor);
        background-repeat: no-repeat;
    }

    .bar(@primaryColor, @secondaryColor) {
        .vertical(@primaryColor, @secondaryColor);
        border-color: @secondaryColor @secondaryColor darken(@secondaryColor, 15%);
        border-color: rgba(0,0,0,.1) rgba(0,0,0,.15) fadein(rgba(0,0,0,.1), 15%);
    }
}
