@media print {
  @page {
    margin: 0.5cm;
    min-width: 641px;
  }
  body {
    margin: 0;
    padding: 0!important;
    min-width: 641px;
  }
  *,
  *:before,
  *:after {
    color: #000 !important;
    background: transparent !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }
  abbr[title]:after {
    content: " [" attr(title) "] ";
  }
  pre,
  blockquote,
  tr,
  img {
    page-break-inside: avoid;
  }
  pre,
  blockquote {
    border: 1px solid #999;
  }
  thead {
    display: table-header-group;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  select {
    background: #fff !important;
  }
  .x-hide-print {
    display: none !important;
  }
  .x-container {
    width: auto;
  }
}
@media not print {
  .x-show-print {
    display: none !important;
  }
}
