.x-clear:after {
  content: " ";
  display: table;
  clear: both;
}
.x-left {
  float: left !important;
}
.x-right {
  float: right !important;
}
.x-middle {
  vertical-align: middle !important;
}
.x-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.x-horizonal,
.x-vertical {
  margin: 0;
  padding: 0;
}
.x-horizonal > * {
  float: left;
  list-style: none;
}
.x-vertical .x-vertical {
  margin-left: 1em;
}
.x-vertical > * {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  list-style: none;
}
.x-hide {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .x-hide-small {
    display: none;
  }
}
@media only screen and (min-width: 1025px) {
  .x-hide-large {
    display: none;
  }
}
.x-break-word {
  word-wrap: break-word;
  word-break: break-all;
}
.x-ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.x-fill {
  display: block !important;
  margin-bottom: 1em;
  width: 100%;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.x-radius {
  border-radius: 2px;
}
.x-scrollable-horizontal {
  overflow: hidden;
  overflow-x: auto;
  width: 100%;
}
