
@import "../core/mixins.less";

// 浮动。
.x-left {
    float: left !important;
}

.x-right {
    float: right !important;
}

.x-clear {
    .clearfix();
}

// 居中。
.x-middle {
    vertical-align: middle !important;
}

.x-center {
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

// 列表。
.x-horizonal, .x-vertical {
    margin: 0;
    padding: 0;
}

.x-horizonal {
    > * {
        float: left;
        list-style: none;
    }
}

.x-vertical  {
    .x-vertical {
        margin-left: 1em;
    }
    > *{
        .text-overflow();
        list-style: none;
    }
}

// 隐藏。
.x-hide {
    display: none;
}

@media @small {
    .x-hide-small {
        display: none;
    }
}

@media @large {
    .x-hide-large {
        display: none;
    }
}

// 文本。
.x-break-word {
    -ms-word-wrap: break-word;
    word-wrap: break-word;
    -ms-word-break: break-all;
    word-break: break-all;
}

.x-ellipsis {
    .text-overflow(ellipsis);
    display: block;
}

// 空隙。
.x-blank {
    margin-bottom: @margin;
}

// 占满行。
.x-justify {
    width: 100%;
    text-align: justify;
}

// 圆角。
.x-radius {
    border-radius: @border-radius;
}

// 超出内容后显示滚动条。
.x-scrollable-horizontal {
    overflow: hidden;
    overflow-x: auto;
    width: 100%;
}
