.x-left {
  float: left !important;
}
.x-right {
  float: right !important;
}
.x-clear:after {
  content: " ";
  display: table;
  clear: both;
}
.x-middle {
  vertical-align: middle !important;
}
.x-center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.x-hide {
  display: none;
}
@media only screen and (max-width: 1024px) {
  .x-hide-small {
    display: none;
  }
}
@media only screen and (min-width: 1025px) {
  .x-hide-large {
    display: none;
  }
}
.x-break-word {
  -ms-word-wrap: break-word;
  word-wrap: break-word;
  -ms-word-break: break-all;
  word-break: break-all;
}
.x-ellipsis {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
.x-blank {
  margin-bottom: 1em;
}
.x-justify {
  width: 100%;
  text-align: justify;
}
.x-radius {
  border-radius: 4px;
}
.x-scrollable-horizontal {
  overflow: hidden;
  overflow-x: auto;
  width: 100%;
}
