
@import "../core/mixins.less";

.x-buttongroup {
    display: inline-table;
    > * {
        display: table-cell;

        &:not(:first-child) {
            border-left-color: darken(#eee, 10%);
        }
        
        &:not(:last-child) {
            border-right-width: 0;
        }
    }
    
    &.x-radius {

        .x-button:first-child {
            border-radius: @border-radius 0 0  @border-radius;
        }
        
        .x-button:last-child {
            border-radius: 0 @border-radius @border-radius 0;
        }

    }
}
