.x-button {
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  touch-action: manipulation;
  outline: 0;
  padding: 4px 14px;
  line-height: 24px;
  border: 1px solid #cccccc;
  border-radius: 4px;
  color: #212121;
  background-color: #f7f7f7;
  -moz-transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
  -o-transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
  -webkit-transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
  transition: background-color .15s ease-in-out, border-color .15s ease-in-out;
}
.x-button:focus {
  border-color: #a6a6a6;
}
.x-button:hover {
  color: #212121;
  background-color: #ebebeb;
  text-decoration: none;
}
.x-button:active,
.x-button-actived,
.x-dropdown-actived {
  background-color: #dedede;
  border-color: #b3b3b3;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}
.x-button[disabled],
.x-button-disabled {
  pointer-events: none;
  cursor: not-allowed;
  opacity: 0.5;
  filter: alpha(opacity=50);
  box-shadow: none;
}
.x-button-info {
  color: #ffffff;
  background-color: #5bc0de;
  border-color: #46b8da;
}
.x-button-info:focus {
  border-color: #1f7e9a;
}
.x-button-info:hover {
  color: #ffffff;
  background-color: #46b8da;
}
.x-button-success {
  color: #ffffff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.x-button-success:focus {
  border-color: #2d672d;
}
.x-button-success:hover {
  color: #ffffff;
  background-color: #4cae4c;
}
.x-button-warning {
  color: #ffffff;
  background-color: #f0ad4e;
  border-color: #eea236;
}
.x-button-warning:focus {
  border-color: #b06d0f;
}
.x-button-warning:hover {
  color: #ffffff;
  background-color: #eea236;
}
.x-button-error {
  color: #ffffff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
.x-button-error:focus {
  border-color: #8b211e;
}
.x-button-error:hover {
  color: #ffffff;
  background-color: #d43f3a;
}
.x-button-transparent {
  background-color: transparent;
}
.x-button-small {
  padding: 1px 5px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1.5;
}
.x-button-large {
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 18px;
  line-height: 1.5;
}
.x-button-justify {
  display: block;
  width: 100%;
}
