.x-buttongroup {
  display: inline-table;
}
.x-buttongroup * {
  display: table-cell;
  border-right: 0;
}
.x-buttongroup *:not(:first-child) {
  border-left-color: #dfdfdf;
}
.x-buttongroup.x-fill {
  display: table!important;
}
.x-buttongroup-1 > .x-button {
  width: 100%;
}
.x-buttongroup-2 > .x-button {
  width: 50%;
}
.x-buttongroup-3 > .x-button {
  width: 33.33333333%;
}
.x-buttongroup-4 > .x-button {
  width: 25%;
}
.x-buttongroup-5 > .x-button {
  width: 20%;
}
.x-buttongroup-6 > .x-button {
  width: 16.66666667%;
}
