.x-button {
  -moz-appearance: none;
  -webkit-appearance: none;
  background-image: none;
  display: inline-block;
  text-align: center;
  white-space: nowrap;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  color: #212121;
  outline: 0;
  padding: 4px 14px;
  background-color: #eee;
  border: 1px solid #eee;
  -moz-transition: background-color .3s ease-out, border-color .3s ease-out;
  -o-transition: background-color .3s ease-out, border-color .3s ease-out;
  -webkit-transition: background-color .3s ease-out, border-color .3s ease-out;
  transition: background-color .3s ease-out, border-color .3s ease-out;
}
.x-button:hover,
.x-button:focus {
  background-color: #e6e6e6;
  text-decoration: none;
}
.x-button:active,
.x-button-actived {
  background-color: #cfcfcf;
  border-color: #cfcfcf;
  box-shadow: inset 0 1px 10px rgba(0, 0, 0, 0.15);
}
.x-button[disabled],
.x-button-disabled {
  pointer-events: none;
  cursor: not-allowed;
  border-color: transparent;
  opacity: 0.5;
  filter: alpha(opacity=50);
  box-shadow: none;
}
.x-button-info {
  color: #ffffff;
  background-color: #31708f;
  border-color: #31708f;
}
.x-button-info:hover,
.x-button-info:focus {
  background-color: #214c61;
}
.x-button-success {
  color: #ffffff;
  background-color: #3c763d;
  border-color: #3c763d;
}
.x-button-success:hover,
.x-button-success:focus {
  background-color: #274d28;
}
.x-button-warning {
  color: #ffffff;
  background-color: #8a6d3b;
  border-color: #8a6d3b;
}
.x-button-warning:hover,
.x-button-warning:focus {
  background-color: #5f4b29;
}
.x-button-error {
  color: #ffffff;
  background-color: #a94442;
  border-color: #a94442;
}
.x-button-error:hover,
.x-button-error:focus {
  background-color: #7d3231;
}
.x-button-transparent {
  background-color: transparent;
}
.x-button-small {
  padding: 0 7px;
  font-size: 13px;
}
.x-button-bordered {
  border-color: #cccccc;
}
