
@import "../core/mixins.less";

.x-button {
    // 按钮样式重置。
    -moz-appearance: button;
    -webkit-appearance: button;
    display: inline-block;
    text-align: center;
    white-space: nowrap;
    .user-select(none);
    .box-sizing(border-box);
    touch-action: manipulation;
    color: @text-color;
    outline: 0;
    // 按钮风格定义。
    border: 1px solid #eee;
    padding: @padding-y @font-size;
    line-height: @line-height;
    background-color: #eee;
    .transition(~"background-color .15s ease-out, border-color .15s ease-out");

    &:hover, &:focus {
        background-color: darken(#eee, 3%);
        text-decoration: none;
    }

}

.x-button:active, .x-button-actived {
    background-color: darken(#eee, 12%);
    border-color: darken(#eee, 12%);
    box-shadow: inset 0 1px 10px rgba(0, 0, 0, .15);
}

.x-button[disabled], .x-button-disabled {
    pointer-events: none; // 禁止事件，参考 https://developer.mozilla.org/en-US/docs/Web/CSS/pointer-events
    cursor: not-allowed; // 由于 pointer-events: none 可能不生效
    border-color: transparent;
    .opacity(.5);
    box-shadow: none;
}

// 色系
.x-button-state(@state) {
    .x-button-@{state} {
        color: @selected-text-color;
        background-color: ~"@{@{state}-text-color}";
        border-color: ~"@{@{state}-text-color}";

        &:hover, &:focus {
            background-color: darken(color(~"@{@{state}-text-color}"), 12%);
        }
    }
}

.x-button-state(info);
.x-button-state(success);
.x-button-state(warning);
.x-button-state(error);

.x-button-transparent {
    background-color: transparent;
}

// 尺寸
.x-button-small {
    padding: 0 @font-size / 2;
    font-size: @font-size-menu;
}

.x-button-bordered {
    border-color: @border-color-input;
}