.x-buttongroup {
  display: inline-table;
}
.x-buttongroup * {
  display: table-cell;
  border-right: 0;
}
.x-buttongroup *:not(:first-child) {
  border-left-color: #d5d5d5;
}
.x-buttongroup.x-radius .x-button:first-child {
  border-radius: 4px 0 0 4px;
}
.x-buttongroup.x-radius .x-button:last-child {
  border-radius: 0 4px 4px 0;
}
.x-buttongroup-justify {
  width: 100%;
}
