<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>关闭按钮</title>
    <meta name="module-info" content="package=default">
    <meta name="author" content="xuld@vip.qq.com">
    <meta name="description" content="关闭按钮。">

    <!-- 以下是本组件的全部源码 -->
    <link rel="stylesheet" type="text/css" href="../../typography/core/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../typography/partial/closeButton.css" />
    <link rel="stylesheet" type="text/css" href="../../typography/partial/closeButton-text.css" />
</head>
<body>
    <!-- 以下代码仅用于文档演示 -->
    <script type="text/javascript" src="../../../assets/doc/doc.js"></script>
    <link rel="stylesheet" type="text/css" href="../../typography/partial/icon.css" />
    
    <h2>基本用法</h2>
    <aside class="doc-demo">
        <a href="javascript://关闭" class="x-closebutton" title="关闭">&times;</a>
        往右看 →_→
    </aside>

    <h2>基于图标</h2>
    <p>您也可以不使用此组件，直接使用图标实现关闭按钮效果。</p>
    <aside class="doc-demo">
        <a href="javascript://关闭" class="x-icon" title="关闭" style="text-decoration:none;">&#10006;</a>
    </aside>
    
    <blockquote class="doc-note">Safari Mobile 要求可点击链接必须有 href, 因此这里不能删除 href。具体参考 <a href="https://developer.mozilla.org/en-US/docs/Web/Events/click#Safari_Mobile">click 事件文档</a>。</blockquote>

    <h2>经典关闭按钮 <small>(兼容IE6)</small></h2>
    <aside class="doc-demo">
        <a class="x-closebutton-text">×</a>
        往右看 →_→
    </aside>
</body>
</html>
