.x-mask-ex,
.x-mask-ex iframe {
  position: absolute;
  top: 0;
  left: 0;
  border: 0;
  width: 100%;
  height: 100%;
}
.x-mask-ex {
  z-index: 2999;
  background: #000;
  opacity: 0.3;
  filter: alpha(opacity=30);
}
.x-mask-ex iframe {
  z-index: -1;
  filter: mask();
}
