
#doc_header {
    margin-bottom: 0;
    text-align: center;
}

    #doc_header h1 {
        margin: 0;
        padding: 1em 0 .4em;
    }

    #doc_header h2 {
        font-weight: 500;
        font-size: 2em;
        margin: 0 0 1em;
        line-height: 120%;
    }

.primary a {
    border: 0;
    border-radius: 4px;
    font-size: 16px;
    text-decoration: none;
    padding: 8px 24px;
    background-color: #fff;
    color: #673AB7;
    -moz-transition: all 300ms ease-out;
    -o-transition: all 300ms ease-out;
    -webkit-transition: all 300ms ease-out;
    transition: all 300ms ease-out;
}

    .primary a:hover {
        color: #673AB7;
        background-color: #F5F5F5;
        text-decoration: none;
    }

    .primary a:active {
        background-color: #E0E0E0;
    }

.secondary {
    margin: 1.6em 0 .4em;
}

    .secondary a {
        color: #fff;
        text-decoration: none;
        padding: 0 7px;
    }

        .secondary a:hover {
            color: #fff;
        }

.summary {
    margin: 0;
    font-size: 12px !important;
    color: #e9e9e9 !important;
}

section {
    text-align: center;
    padding-bottom: 2em;
}

.subtitle {
    text-align: center;
    font-weight: 500;
    font-size: 2em;
    margin: 2em 0 .5em;
    line-height: 150%;
}

.description {
    margin: 0 auto 2em;
    width: 80%;
}

.doc-col h3 {
    font-weight: 500;
    margin: 0.5em 0;
    font-size: 18px;
}

.doc-col img {
    max-width: 100%;
}

.doc-col p {
    text-align: left;
    line-height: 150%;
}

.doc-col a img {
    border: 1px solid #DADADA;
    padding: 4px;
    border-radius: 4px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.055);
    -moz-transition: all 0.2s ease-in-out 0s;
    -o-transition: all 0.2s ease-in-out 0s;
    -webkit-transition: all 0.2s ease-in-out 0s;
    transition: all 0.2s ease-in-out 0s;
}

.doc-col a:hover img {
    border-color: #23527c;
    box-shadow: 0 1px 4px rgba(0, 105, 214, 0.25);
}

hr.doc-container {
    border-color: #DADADA;
    border-width: 1px 0 0 0;
    border-style: solid;
    height: 0;
}
