h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  font-family: "Microsoft YaHei", "宋体", Arial;
  text-rendering: optimizelegibility;
}
h1 small,
h2 small,
h3 small,
h4 small,
h5 small,
h6 small {
  font-weight: normal;
  color: #999999;
}
h1,
h2,
h3 {
  margin: 10px 0;
  line-height: 36px;
}
h4,
h5,
h6 {
  margin: 0;
  line-height: 18px;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 30px;
}
h3,
h1 small {
  font-size: 24px;
}
h4,
h2 small {
  font-size: 18px;
}
h5,
h3 small {
  font-size: 14px;
}
h6,
h4 small {
  font-size: 12px;
}
