
// 表格
table {
    border-collapse: collapse;
    border-spacing: 0; // 删除默认边距。
    empty-cells: show;
    max-width: 100%;
}

th, td {
    padding: @padding-y @padding-x;
    border: 1px solid @border-color;
    text-align: left;
}
