## 用户自定义路径

_my

## IDE 相关

*.sublime-workspace
*.suo
*.user
*.sln.docstates
WebWorkbench.mswwsettings
_notes
.settings

## 操作系统通用

*.patch
*.diff
.svn
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store

## Visual Studio 相关

[Oo]bj/[Dd]ebug/
[Oo]bj/[Rr]elease/
*_i.c
*_p.c
*.ilk
*.meta
*.obj
*.pch
*.pdb
*.pgc
*.pgd
*.rsp
*.sbr
*.tlb
*.tli
*.tlh
*.tmp
*.tmp_proj
*.log
*.vspscc
*.vssscc
*.pidb
*.log
*.scc
csx
*.build.csdef
ipch/
*.aps
*.ncb
*.opensdf
*.sdf
*.cachefile
*.psess
*.vsp
*.vspx
*.gpState
_ReSharper*/
*.[Rr]e[Ss]harper
_TeamCity*
*.dotCover
*.ncrunch*
.*crunch*.local.xml
DocProject/buildhelp/
DocProject/Help/*.HxT
DocProject/Help/*.HxC
DocProject/Help/*.hhc
DocProject/Help/*.hhk
DocProject/Help/*.hhp
DocProject/Help/Html2
DocProject/Help/html
*.vshost.*


