/**
 * @author xuld
 */
#header {
  background: #4F5061;
  color: #807e7e;
  margin-bottom: 1em;
  line-height: 21px;
}
#header a {
  color: #e7e3e3;
  display: inline-block;
  text-decoration: none;
  font-weight: 200;
  font-size: 15px;
  padding: 12px 8px;
}
#header a:hover {
  color: #fff;
}
a#logo {
  line-height: 0;
  padding: 7px;
  padding-left: 0;
}
#search_form {
  margin: 7px 0.3em;
}
#search_form input {
  background: #f1f1f1;
  width: 280px;
}
#search_form input:focus {
  background: #fff;
}
#navbar a {
  padding: 12px 16.8px;
}
#navbar a:hover,
#navbar .x-actived a {
  color: #fff;
  background: #404040;
}
#navbar_trigger {
  display: none;
}
#userbar a:last-child,
#navbar_trigger a:last-child {
  padding-right: 0;
}
@media only screen and (max-width: 1024px) {
  #search_form,
  #userbar,
  #navbar {
    display: none;
  }
  #navbar_trigger {
    display: inline-block;
  }
  #navbar {
    clear: left;
    margin: 0 -1em;
  }
  #navbar li {
    float: none !important;
  }
  #navbar a {
    display: block;
  }
}
#footer {
  border-top: 1px solid #e0e0e0;
  margin: 2em 0;
  padding: 1em 0;
  font-size: small;
}
#footer,
#footer a {
  color: #908c8c;
}
#sidebar {
  width: 18%;
}
.x-grid-2 #main {
  width: 82%;
}
.x-grid-3 #outline {
  width: 22%;
}
.x-grid-3 #main {
  width: 60%;
}
#breadcrumb {
  margin-bottom: .5em;
}
