/**
 * @author xuld
 */
.x-badge {
  display: inline-block;
  min-width: 8px;
  border-radius: 8px;
  background-color: #757575;
  padding: 3px 6px;
  font-size: 12px;
  color: #ffffff;
  vertical-align: 1px;
  line-height: 1;
  white-space: nowrap;
  text-align: center;
  margin: 2px 0 2px 0.2em;
}
.x-badge:empty {
  display: none;
}
