/**
 * @author xuld
 */
.x-show-hover {
  opacity: 0;
  filter: alpha(opacity=0);
  -moz-transition: opacity 0.2s;
  -o-transition: opacity 0.2s;
  -webkit-transition: opacity 0.2s;
  transition: opacity 0.2s;
}
.x-hover:hover .x-show-hover {
  opacity: 1;
  filter: alpha(opacity=100);
}
