<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>遮罩</title>
    <meta name="module-info" content="package=default">
    <meta name="author" content="xuld@vip.qq.com">
    <meta name="description" content="遮罩(蒙版)主要用于覆盖用户点击区域，防止用户的误操作。">
    <meta name="keywords" content="蒙版">

    <!-- 以下是本组件的全部源码 -->
    <link rel="stylesheet" type="text/css" href="../../typography/core/reset.css" />
    <link rel="stylesheet" type="text/css" href="../../typography/partial/mask.css" />
    <link rel="stylesheet" type="text/css" href="../../typography/partial/mask-ex.css" />
</head>
<body>
    <!-- 以下代码仅用于文档演示 -->
    <script type="text/javascript" src="../../../assets/doc/doc.js"></script>
    
    <h2>基本用法</h2>

    <aside class="doc-demo">
        <div class="doc-box doc-yellow doc-box-large">
            <a>我是普通文本</a>
            <div class="x-mask" style="position: absolute;"></div>
        </div>
    </aside>

    <h2>经典遮罩层 <small>(兼容IE6)</small></h2>

    <aside class="doc-demo">
        <div class="doc-box doc-yellow doc-box-large">
            <a>我是普通文本</a>
            <div class="x-mask-ex">
                <iframe src="about:blank;"></iframe>
            </div>
        </div>
    </aside>
</body>
</html>
