<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="module-info" content="status=complete">
    <title>固定分栏</title>

    <link rel="stylesheet" type="text/css" href="../../../src/ui/core/base.css" />
    <link rel="stylesheet" type="text/css" href="../../../src/ui/layout/grid-fixed.css" />

    <script type="text/javascript" src="../../../apps/demo/demo.js"></script>
    <style>
        .x-col {
            background: #EEEEEE;
            height: 20px;
            text-align: center;
            line-height: 20px;
            color: #555555;
            font-family: '微软雅黑';
            font-weight: 700;
        }
    </style>
</head>
<body>

    <div class="x-container">

        <p class="demo">固定常用的几种 Grid。</p>

        <aside class="demo">

            <div class="x-grid x-grid-1">
                <div class="x-col x-col-main">
                    main
                </div>
            </div>

            <div class="x-grid x-grid-2">
                <div class="x-col x-col-side">
                    side
                </div>
                <div class="x-col x-col-main">
                    main
                </div>
            </div>

            <div class="x-grid x-grid-2x">
                <div class="x-col x-col-main">
                    main
                </div>
                <div class="x-col x-col-extra">
                    extra
                </div>
            </div>

            <div class="x-grid x-grid-3">
                <div class="x-col x-col-side">
                    side
                </div>
                <div class="x-col x-col-main">
                    main
                </div>
                <div class="x-col x-col-extra">
                    extra
                </div>
            </div>

        </aside>

    </div>


</body>
</html>
