@import "configs";

.x-tab {
    &-bottom, &-left, &-right {
        border-bottom: 0;
    }

    &body {
        border-width: 1px 1px 0;
    }

    + .x-tabbody {
        border-width: 0 1px 1px;
    }

    &-bottom {
        border-top: 1px solid $border-color;

        a {
            margin: -1px 0 0 -1px;
        }

        li {
            &:first-child a {
                margin-left: 0;
                border-radius: 0 0 0 $border-radius;
            }

            &:last-child a {
                border-radius: 0 0 $border-radius;
            }
        }

        .x-tab-active a {
            border-color: $background-color-light $border-color $border-color;
        }
    }

    &-left, &-right {
        li {
            display: block;
            float: none;
        }
    }

    &-left {
        float: left;
        margin-right: $margin-x;
        border-width: 0 1px 0 0;

        a {
            margin: -1px -1px 0 0;
        }

        li {
            &:first-child a {
                margin-top: 0;
                border-radius: $border-radius 0 0;
            }

            &:last-child a {
                border-radius: 0 0 0 $border-radius;
            }
        }

        .x-tab-active a {
            border-color: $border-color $background-color-light $border-color $border-color;
        }

        + .x-tabbody {
            border-width: 1px 1px 1px 0;
        }
    }

    &-right {
        float: right;
        margin-left: $margin-x;
        border-width: 0 0 0 1px;

        a {
            margin-left: -1px;
            margin-bottom: 0;
            border-width: 1px;
        }

        li {
            &:not(:first-child) {
                border-top-width: 0;
            }

            &:last-child a {
                border-top-right-radius: 0;
                border-bottom-right-radius: $border-radius;
            }
        }

        .x-tab-actived a {
            border-color: $border-color $border-color $border-color $background-color-light;
        }
    }
}



    // &-left, &-right {
    //     color: $text-color-light !important;
    //     padding: $padding-y-small $spacer;
    //     line-height: 1rem * $line-height;
    // }

    // &-left {
    //     float: left;
    // }

    // &-right {
    //     float: right;
    // }

    // &-disable {
    //     cursor: $cursor-disabled;
    //     opacity: 0.3;
    // }