
@import "../core/mixins.less";

.x-calender {
    display: inline-block;
    background-color: @hover-background-color;
    border: 1px solid @border-color;
    border-radius: @border-radius;
    padding: 3px;
    cursor: default;
    font-size: @small-font-size;
    line-height: 100%;
    text-align: center;
    .user-select(none);

    a {
        text-decoration: none;
        color: inherit;
    }

    table {
        margin: 0;
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }

    th, td {
        border: 0;
        width: 25%;
        text-align: center;
        padding: 0;
    }

    th {
        border-bottom: 1px solid #e0e0e0;
    }

    td:hover {
        cursor: pointer;
        background-color: @hover-background-color;
        color: @selected-background-color;
    }

    &.x-dropdown {
        display: none;
    }

}

.x-calender-main {
    border: 1px solid @border-color;
    padding: 4px;
    background-color: @background-color;
}

.x-calender-header, .x-calender-footer {
    margin-bottom: .25em;
    a:hover {
        color: @selected-background-color;
    }
}

.x-calender-body {
    width: 7 * 4 * 6.5px;
    height: 7 * 3 * 6.5px + 1px;
    position: relative;
    overflow: hidden;
}

.x-calender-time, .x-calender-footer {
    margin-top: .375em;
}

.x-calender-prev, .x-calender-next {
    display: block;
    width: 16px;
    line-height: @font-size;
}

.x-calender-prev {
    float: left;
}

.x-calender-next {
    float: right;
}

.x-calender-days {
    th, td {
        width: 100% / 7;
        text-align: right;
        padding: 2px 6px;
    }
}

.x-calender-alt {
    color: @tip-text-color;
    cursor: default!important;
}

.x-calender-actived {
    outline: 1px solid #007FE6;
    outline-offset: -1px;
    color: @link-text-color!important;
}

.x-calender-selected {
    background-color: @selected-background-color !important;
    color: @selected-text-color !important;
}

td.x-calender-invalid {
    color: @disabled-text-color;
    pointer-events: none;
}

.x-calender-holiday {
    color: @error-text-color!important;
}

.x-calender-time {
    input {
        width: @font-size * 2 + 2px;
        text-align: right;
        border: none;
        background-color: @background-color;
        line-height: @font-size;

        &[readonly] {
            color: @disabled-text-color;
        }
    }
}
