
@import "../core/mixins.less";

.x-calender {
    font-size: @small-font-size;
    line-height: 100%;
    border: 1px solid @border-color;
    padding: 3px;
    cursor: default;
    text-align: center;
    display: inline-block;
    border-radius: @border-radius;
    background-color: @hover-background-color;
}

.x-calender-main {
    border: 1px solid @border-color;
    padding: 5px;
    background-color: @background-color;
}

.x-calender a {
    text-decoration: none;
    color: #111;
}

.x-calender a:hover {
    color: #568cca;
}

.x-calender-prev, .x-calender-next {
    display: block;
    width: 16px;
}

.x-calender-prev {
    float: left;
}

.x-calender-next {
    float: right;
}

//  内容
.x-calender-body {
    position: relative;
    width: 173px;
    height: 118px;
    overflow: hidden;
    margin: 1px;
}

.x-calender-days, .x-calender-monthyears {
    width: 173px;
    position: absolute;
}

.x-calender-content {
    position: absolute;
    top: 0;
    left: 0;
}

.x-calender-days a, .x-calender-days span, .x-calender-monthyears a {
    float: left;
    overflow: hidden;
    border: 1px solid transparent;
    border-radius: @border-radius / 2;
}

.x-calender-days a:hover, .x-calender-monthyears a:hover {
    background-color: #EDF5FF;
    #gradient > .vertical-all(#FDFEFF, #EDF5FF);
    border-color: #B9D7FC;
}

// 天
.x-calender-days a, .x-calender-days span {
    text-align: right;
    width: 14px;
    height: 14px;
    line-height: 14px;
    padding: 0px 4px;
}

.x-calender-week {
    padding-bottom: 2px;
    margin-bottom: 2px;
    border-bottom: 1px solid #e0e0e0;
    .clearfix();
    font-weight: bold;
}

.x-calender-monthyears a {
    width: 40px;
    line-height: 36px;
    height: 36px;
}

a.x-calender-actived {
    color: #007FE6;
	font-weight: bold;
}

a.x-calender-selected {
    background-color: #D0E5FF;
    #gradient > .vertical-all(#ECF5FF, #D0E5FF);
    border-color: #007FE6!important;
}

a.x-calender-decade {
    line-height: 18px;
}

.x-calender-alt, .x-calender-disabled a {
    color: @selected-background-color !important;
    cursor: default!important;
}

.x-calender-disabled .x-calender-body a {
    background: none!important;
}

.x-dropdownmenu .x-calender-main {
    border: none;
}
