.x-calender {
  font-size: 0.85714286em;
  line-height: 100%;
  border: 1px solid #e0e0e0;
  padding: 3px;
  cursor: default;
  text-align: center;
  display: inline-block;
  border-radius: 4px;
  background-color: #f5f5f5;
}
.x-calender-main {
  border: 1px solid #e0e0e0;
  padding: 5px;
  background-color: #ffffff;
}
.x-calender a {
  text-decoration: none;
  color: #111;
}
.x-calender a:hover {
  color: #568cca;
}
.x-calender-prev,
.x-calender-next {
  display: block;
  width: 16px;
}
.x-calender-prev {
  float: left;
}
.x-calender-next {
  float: right;
}
.x-calender-body {
  position: relative;
  width: 173px;
  height: 118px;
  overflow: hidden;
  margin: 1px;
}
.x-calender-days,
.x-calender-monthyears {
  width: 173px;
  position: absolute;
}
.x-calender-content {
  position: absolute;
  top: 0;
  left: 0;
}
.x-calender-days a,
.x-calender-days span,
.x-calender-monthyears a {
  float: left;
  overflow: hidden;
  border: 1px solid transparent;
  border-radius: 2px;
}
.x-calender-days a:hover,
.x-calender-monthyears a:hover {
  background-color: #EDF5FF;
  background-color: #edf5ff;
  background-image: -moz-linear-gradient(top, #fdfeff, #edf5ff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fdfeff), to(#edf5ff));
  background-image: -webkit-linear-gradient(top, #fdfeff, #edf5ff);
  background-image: -o-linear-gradient(top, #fdfeff, #edf5ff);
  background-image: linear-gradient(to bottom, #fdfeff, #edf5ff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdfeff', endColorstr='#ffedf5ff', GradientType=0);
  border-color: #B9D7FC;
}
.x-calender-days a,
.x-calender-days span {
  text-align: right;
  width: 14px;
  height: 14px;
  line-height: 14px;
  padding: 0px 4px;
}
.x-calender-week {
  padding-bottom: 2px;
  margin-bottom: 2px;
  border-bottom: 1px solid #e0e0e0;
  font-weight: bold;
}
.x-calender-week:after {
  content: " ";
  display: table;
  clear: both;
}
.x-calender-monthyears a {
  width: 40px;
  line-height: 36px;
  height: 36px;
}
a.x-calender-actived {
  color: #007FE6;
  font-weight: bold;
}
a.x-calender-selected {
  background-color: #D0E5FF;
  background-color: #d0e5ff;
  background-image: -moz-linear-gradient(top, #ecf5ff, #d0e5ff);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ecf5ff), to(#d0e5ff));
  background-image: -webkit-linear-gradient(top, #ecf5ff, #d0e5ff);
  background-image: -o-linear-gradient(top, #ecf5ff, #d0e5ff);
  background-image: linear-gradient(to bottom, #ecf5ff, #d0e5ff);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffecf5ff', endColorstr='#ffd0e5ff', GradientType=0);
  border-color: #007FE6!important;
}
a.x-calender-decade {
  line-height: 18px;
}
.x-calender-alt,
.x-calender-disabled a {
  color: #337ab7 !important;
  cursor: default!important;
}
.x-calender-disabled .x-calender-body a {
  background: none!important;
}
.x-dropdownmenu .x-calender-main {
  border: none;
}
