
@import "../core/mixins.less";

.x-tooltip {
    position: absolute;
    z-index: @z-index-tooltip;
    display: none;
    font-size: .8em;
    opacity: .8;
}

.x-tooltip-content {
    text-align: center;
    text-decoration: none;
    max-width: 200px;
    padding: @base-box-padding;
    color: @background-color;
    background-color: @text-color;
    border-radius: @base-border-radius;
}
