.x-breadcrumb {
  font-size: 0.85714286em;
}
.x-breadcrumb,
.x-breadcrumb a,
.x-breadcrumb span {
  color: #757575;
}
.x-breadcrumb-divider {
  text-align: center;
  margin: 0 .2em;
  color: #ababab;
}
