.x-menu {
  display: inline-block;
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  min-width: 140px;
  margin: 0;
  padding: 0;
  list-style: none;
}
.x-menu > li > .x-icon:first-child {
  float: right;
  line-height: 24px;
  padding: 2px 8px;
}
.x-menu > li > a {
  display: block;
  color: #212121;
  padding: 2px 8px;
}
.x-menu > li > a:hover {
  background-color: #f5f5f5;
  text-decoration: none;
}
.x-menu > li.x-selected > a {
  color: #ffffff;
  background-color: #0e90d2;
}
.x-menu > li > hr {
  margin: 0;
}
