/**
 * @author xuld
 */
.x-pager {
  text-align: center;
  margin: 2em 0;
}
.x-pager a {
  display: inline-block;
  min-width: 18px;
  border: 1px solid #e0e0e0;
  padding: 4px 8px;
}
.x-pager a + a {
  margin-left: 4px;
}
.x-pager a:hover {
  background-color: #f5f5f5;
  text-decoration: none;
}
.x-pager a.x-selected {
  background-color: #095f8b;
  border-color: #095f8b;
  color: #ffffff;
}
.x-pager a.x-disabled {
  color: #bdbdbd;
  pointer-events: none;
}
