/**
 * @author xuld
 */

@import "../core/mixins.less";

.x-pager {
    text-align: center;
    margin: @margin * 2 0;
    
    a {
        display: inline-block;
        min-width: @line-height - @box-padding-x + 2px; // 2px 视觉差
        border: 1px solid @border-color;
        padding: @box-padding;

        & + a {
            margin-left: @box-padding-x / 2;
        }

        &:hover {
            background-color: @hover-background-color;
            text-decoration: none;
        }
        
        &.x-pager-actived {
            background-color: @selected-background-color;
            border-color: @selected-background-color;
            color: @selected-text-color;
        }

        &.x-pager-disabled {
            color: @disabled-text-color;
            pointer-events: none;
        }

    }

    .x-icon {
        margin-right: 0;
    }
}
