/**
 * @author xuld
 */

@import "../core/mixins.less";

.x-pager {
    text-align: center;
    margin: 2em 0;
    
    a {
        display: inline-block;
        min-width: @base-line-height - @box-padding-x + 2px; // 2px 视觉差
        border: 1px solid @border-color;
        padding: @box-padding;

        & + a {
            margin-left: @box-padding-x / 2;
        }

        &:hover {
            background-color: @hover-background-color;
            text-decoration: none;
        }

        &.x-selected {
            background-color: @link-text-color;
            border-color: @link-text-color;
            color: @background-color;
        }

        &.x-disabled {
            color: @disabled-text-color;
            pointer-events: none;
        }

    }
}
