
@import "../core/mixins.less";

.x-pill {
    display: inline-block;
    font-size: .95em;
    border-radius: 4px;
    padding: @padding-y + 1 @font-size + 1;
}

.x-pill:hover, .x-pill.x-dropdown-actived {
    background-color: @background-color-hover;
    text-decoration: none;
}

.x-pill-actived {
    background-color: @selected-background-color!important;
    color: @selected-text-color!important;
}

.x-pill-small {
    padding: 0 @padding-x;
}
