/**
 * @author xuld
 */

@import "../core/mixins.less";

.x-toolbar {
    color: @small-text-color;

    a {
        color: @tip-text-color;

        + a {
            margin-left: 1.5em;
        }

    }
}
