/**
 * @author xuld
 */
.x-tree {
  font-size: .95em;
}
.x-tree li {
  list-style: none;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.x-tree ul {
  margin: 0;
  padding-left: 2em;
}
.x-tree-selected > a {
  color: #e9985e;
  font-weight: bold;
}
