/**
 * @author xuld
 */

@import "../core/mixins.less";

.x-tree {
    font-size: @font-size-small;
    line-height: 150%;
    margin: 0;
    padding: 0;

    li {
        list-style: none;
        .text-overflow(ellipsis);
    }

    ul {
        margin: 0;
        padding-left: 2em;
    }
}

.x-tree-selected > a{
    color: #e9985e;
    font-weight: bold;
}
