/**
 * @author 
 */
.x-searchtextbox {
  padding-left: 14px;
  padding-right: 14px;
  margin-bottom: 0;
  -webkit-border-radius: 14px;
  -moz-border-radius: 14px;
  border-radius: 14px;
  *padding-left: 4px;
}
.x-picker .x-searchtextbox-search {
  padding-left: 10px;
  padding-right: 20px;
  margin-left: 0;
  position: absolute;
  -webkit-border-radius: 0 4px 4px 0;
  -moz-border-radius: 0 4px 4px 0;
  border-radius: 0 4px 4px 0;
  right: 0;
  top: 0;
  background: url(../images/searchtextbox.gif) center center no-repeat;
  border: none;
  height: 28px;
}
.x-searchtextbox-search:active {
  right: -1px;
  top: 1px;
}
