/**
 * @author xuld
 */
.x-inputgroup {
  display: inline-table;
}
.x-inputgroup > *,
.x-inputgroup .x-textbox {
  display: table-cell;
}
.x-inputgroup .x-button,
.x-inputgroup .x-tipbox {
  display: table-cell;
  border-color: #cccccc;
}
.x-inputgroup .x-button:first-child,
.x-inputgroup .x-tipbox:first-child {
  border-right: 0;
}
.x-inputgroup .x-button:last-child,
.x-inputgroup .x-tipbox:last-child {
  border-left: 0;
}
.x-inputgroup.x-radius *:first-child {
  border-radius: 4px 0 0 4px;
}
.x-inputgroup.x-radius *:last-child {
  border-radius: 0 4px 4px 0;
}
