/**
 * @author xuld
 */

@import "../core/mixins.less";

.x-inputgroup {
    display: inline-table;
    // 避免在 table 中继承表格的边框属性。
    border-collapse: separate;

    > *, .x-textbox {
        display: table-cell;
    }

    .x-textbox {
        border-radius: 0;
    }

    .x-button, .x-tipbox {
        display: table-cell;
        border-color: @border-color-input;

        &:first-child {
            border-radius: @border-radius 0 0 @border-radius;
            border-right: 0;
        }
        
        &:last-child {
            border-radius: 0 @border-radius @border-radius 0;
            border-left: 0;
        }
    }
    
}
