/**
 * @author xuld
 */

@import "../core/mixins.less";

.x-inputgroup {
    display: inline-table;

    > *, .x-textbox {
        display: table-cell;
    }

    .x-button, .x-tipbox {
        display: table-cell;
        border-color: @textbox-border-color;

        &:first-child {
            border-right: 0;
        }
        
        &:last-child {
            border-left: 0;
        }
    }

}
