
@import "../core/mixins.less";

.x-picker {
    position: relative;
    display: inline-block;

    .x-textbox {
        padding-right: @box-padding-x + @line-height + 2px;

        &:focus + .x-button:not(.x-button-success):not(.x-button-warning):not(.x-button-error):hover {
            border-color: rgba(82,168,236,.8);
        }
    }
    
    .x-button {
        position: absolute;
        right: 0;
        top: 0;
        border-color: @textbox-border-color;

        padding-left: 0;
        padding-right: 0;
        width: @box-padding-x + @line-height;

        &:not(:focus):not(:hover):not(:active):not(.x-actived) {
            background-color: transparent;
            border-color: transparent;
        }
        
    }
    
    // ɫϵ
    .x-button-state(@state){
        .x-button-@{state}:not(:focus):not(:hover):not(:active):not(.x-actived) {
            color: ~"@{@{state}-text-color}";
        }
    }

    .x-button-state(success);
    .x-button-state(warning);
    .x-button-state(error);

}
