
@import "../core/mixins.less";

.x-placeholder {
    position: absolute;
    padding: @box-padding-y + 1px @box-padding-x + 1px;
    cursor: text;
    color: @disabled-text-color;
    pointer-events: none;
}
