.x-textbox {
  padding: 4px 8px;
  border: 1px solid #cccccc;
  background-color: #ffffff;
  outline: 0;
  width: 182px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  -moz-transition: background-color linear .2s, border linear .2s, box-shadow linear .2s;
  -o-transition: background-color linear .2s, border linear .2s, box-shadow linear .2s;
  -webkit-transition: background-color linear .2s, border linear .2s, box-shadow linear .2s;
  transition: background-color linear .2s, border linear .2s, box-shadow linear .2s;
}
.x-textbox:focus {
  border-color: rgba(82, 168, 236, 0.8);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px rgba(174, 214, 246, 0.8);
}
.x-textbox[disabled],
.x-textbox[readonly] {
  box-shadow: none !important;
  background-color: #efefef;
}
.x-textbox-info {
  border-color: #31708f;
}
.x-textbox-info:focus {
  border-color: #31708f;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #5ea5c8;
}
.x-textbox-success {
  border-color: #3c763d;
}
.x-textbox-success:focus {
  border-color: #3c763d;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #67b168;
}
.x-textbox-warning {
  border-color: #8a6d3b;
}
.x-textbox-warning:focus {
  border-color: #8a6d3b;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #c0a16b;
}
.x-textbox-error {
  border-color: #a94442;
}
.x-textbox-error:focus {
  border-color: #a94442;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #ce8483;
}
.x-textbox-large {
  width: 500px;
}
