
@import "../core/mixins.less";

.x-textbox {
    padding: @box-padding;
    border: 1px solid @textbox-border-color;
    background-color: @background-color;
    outline: 0;
    width: @font-size * 13;

    .box-sizing(border-box);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    .transition(~"border linear .2s, box-shadow linear .2s");

    &:focus {
        border-color: rgba(82,168,236,.8);
        box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px lighten(rgba(82,168,236,.8), 20%);
    }

    &[disabled], &[readonly] {
        box-shadow: none !important;
        background-color: #efefef;
    }

}

// ɫϵ
.x-textbox-state(@state){
    .x-textbox-@{state} {
        border-color: ~"@{@{state}-text-color}";

        &:focus {
            border-color: ~"@{@{state}-text-color}";
            box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px lighten(color(~"@{@{state}-text-color}"), 20%);
        }
    }

}

.x-textbox-state(info);
.x-textbox-state(success);
.x-textbox-state(warning);
.x-textbox-state(error);
