.x-textbox {
  border: 1px solid #cccccc;
  border-radius: 4px;
  padding: 4px 8px;
  outline: 0;
  background-color: #ffffff;
  width: 182px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
  -moz-transition: background-color ease-in-out .15s, border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -o-transition: background-color ease-in-out .15s, border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  -webkit-transition: background-color ease-in-out .15s, border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: background-color ease-in-out .15s, border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.x-textbox:focus {
  border-color: #66afe9;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px rgba(102, 175, 233, 0.6);
}
.x-textbox[disabled],
.x-textbox[readonly],
[disabled] .x-textbox {
  box-shadow: none !important;
  background-color: #ededed;
}
textarea.x-textbox {
  width: 560px;
  height: 120px;
}
.x-textbox-info {
  border-color: #5bc0de;
}
.x-textbox-info:focus {
  border-color: #5bc0de;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px rgba(91, 192, 222, 0.6);
}
.x-textbox-success {
  border-color: #5cb85c;
}
.x-textbox-success:focus {
  border-color: #5cb85c;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px rgba(92, 184, 92, 0.6);
}
.x-textbox-warning {
  border-color: #f0ad4e;
}
.x-textbox-warning:focus {
  border-color: #f0ad4e;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px rgba(240, 173, 78, 0.6);
}
.x-textbox-error {
  border-color: #d9534f;
}
.x-textbox-error:focus {
  border-color: #d9534f;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px rgba(217, 83, 79, 0.6);
}
.x-textbox-small {
  padding: 2px 4px;
}
.x-textbox-large {
  width: 560px;
  padding: 10px 14px;
}
