/**
 * @author xuld
 */

@import "../core/mixins.less";

.x-tr {
    display: table;
}

.x-td {
    display: table-cell;
    vertical-align: top;
    & ~ .x-td {
        padding-left: @grid-gutter-width;
    }
}
