.x-grid {
  margin-left: -7px;
  margin-right: -7px;
}
.x-grid:after {
  content: " ";
  display: table;
  clear: both;
}
.x-col {
  float: left;
  padding: 0 7px;
  margin-bottom: 1em;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.x-container {
  max-width: 994px;
  margin-left: auto;
  margin-right: auto;
  padding: 0 14px;
  position: relative;
}
.x-container.x-grid {
  padding: 0 7px;
}
