
@import "../core/mixins.less";

// 布局行
.x-grid {
    margin-left: -@padding;
    margin-right: -@padding;
    .clearfix();
}

// 布局列
.x-col {
    float: left;
    margin-bottom: @margin;
    .box-sizing(border-box);
    position: relative;
    padding-left: @padding;
    padding-right: @padding;
}

// 容器
.x-container {
    max-width: 980px + @padding * 2;
    margin-left: auto;
    margin-right: auto;
    padding-left: @padding * 2;
    padding-right: @padding * 2;
    position: relative;
}
