.x-row-1 > .x-col {
  width: 100%;
}
.x-row-2 > .x-col {
  width: 50%;
}
.x-row-3 > .x-col {
  width: 33.33333333%;
}
.x-row-4 > .x-col {
  width: 25%;
}
.x-row-5 > .x-col {
  width: 20%;
}
.x-row-6 > .x-col {
  width: 16.66666667%;
}
@media (min-width: 1280px) {
  .x-row-large-1 > .x-col {
    width: 100%;
  }
  .x-row-large-2 > .x-col {
    width: 50%;
  }
  .x-row-large-3 > .x-col {
    width: 33.33333333%;
  }
  .x-row-large-4 > .x-col {
    width: 25%;
  }
  .x-row-large-5 > .x-col {
    width: 20%;
  }
  .x-row-large-6 > .x-col {
    width: 16.66666667%;
  }
}
