.x-col-1 {
  width: 8.33333333%;
}
.x-col-2 {
  width: 16.66666667%;
}
.x-col-3 {
  width: 25%;
}
.x-col-4 {
  width: 33.33333333%;
}
.x-col-5 {
  width: 41.66666667%;
}
.x-col-6 {
  width: 50%;
}
.x-col-7 {
  width: 58.33333333%;
}
.x-col-8 {
  width: 66.66666667%;
}
.x-col-9 {
  width: 75%;
}
.x-col-10 {
  width: 83.33333333%;
}
.x-col-11 {
  width: 91.66666667%;
}
.x-col-12 {
  width: 100%;
}
@media only screen and (min-width: 1025px) {
  .x-col-large-1 {
    width: 8.33333333%;
  }
  .x-col-large-2 {
    width: 16.66666667%;
  }
  .x-col-large-3 {
    width: 25%;
  }
  .x-col-large-4 {
    width: 33.33333333%;
  }
  .x-col-large-5 {
    width: 41.66666667%;
  }
  .x-col-large-6 {
    width: 50%;
  }
  .x-col-large-7 {
    width: 58.33333333%;
  }
  .x-col-large-8 {
    width: 66.66666667%;
  }
  .x-col-large-9 {
    width: 75%;
  }
  .x-col-large-10 {
    width: 83.33333333%;
  }
  .x-col-large-11 {
    width: 91.66666667%;
  }
  .x-col-large-12 {
    width: 100%;
  }
}
