
@import "../core/mixins.less";

// 布局行
.x-grid {
    margin-left: -@padding;
    margin-right: -@padding;
    .clearfix();
}

// 布局列
.x-col {
    float: left;
    margin-bottom: @margin;
    .box-sizing(border-box);
    position: relative;
}

// 当容器和布局行一起使用时，margin: -@padding 使用 padding: @padding 代替。
.x-col, .x-grid.x-container {
    padding-left: @padding;
    padding-right: @padding;
}

// 容器
.x-container {
    max-width: 980px + @padding * 2;
    margin-left: auto;
    margin-right: auto;
    padding-left: @padding * 2;
    padding-right: @padding * 2;
    position: relative;
}
