/**
 * @author xuld
 */

@import "../core/mixins.less";

.x-row {
    display: table;
}

.x-cell {
    display: table-cell;
    vertical-align: top;
    & ~ .x-cell {
        padding-left: @padding;
    }
}
