.x-tooltip {
  position: absolute;
  z-index: 1020;
  display: none;
  font-size: 11px;
  opacity: 0.8;
  filter: alpha(opacity=80);
}
.x-tooltip-content {
  max-width: 200px;
  padding: 4px 9px;
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  background-color: #000000;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
