<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="module-info" content="status=plan" />
    <title>测试组件</title>

    <!-- 本组件需要以下文件 -->
    <script type="text/javascript" src="tpl.js"></script>
    <!-- 本组件需要以上文件 -->

    <script type="text/javascript" src="~/apps/demo/demo.js"></script>
</head>
<body>

    <article class="demo">

        <blockquote class="demo demo-info"></blockquote>

        <script>

            Demo.writeExamples({

            });

        </script>

    </article>

</body>
</html>
